openapi: 3.1.0
info:
  title: ElevenLabs Audio Isolation Agents Voice Settings API
  description: The ElevenLabs Audio Isolation API removes background noise from audio recordings, isolating vocal tracks from ambient sounds and interference. This is useful for cleaning up recordings, improving audio quality for podcasts and interviews, and preparing audio files for further processing such as voice cloning or transcription.
  version: '1.0'
  contact:
    name: ElevenLabs Support
    url: https://help.elevenlabs.io
  termsOfService: https://elevenlabs.io/terms-of-service
servers:
- url: https://api.elevenlabs.io
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Voice Settings
  description: Endpoints for managing voice-specific settings such as stability, similarity boost, and style parameters.
paths:
  /v1/voices/{voice_id}/settings:
    get:
      operationId: getVoiceSettings
      summary: Get voice settings
      description: Returns the settings for a specific voice including stability, similarity boost, and style parameters.
      tags:
      - Voice Settings
      parameters:
      - $ref: '#/components/parameters/voiceId'
      responses:
        '200':
          description: Voice settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettings'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Voice not found
  /v1/voices/{voice_id}/settings/edit:
    post:
      operationId: editVoiceSettings
      summary: Edit voice settings
      description: Updates the default settings for a specific voice. These settings are used when no per-request overrides are provided.
      tags:
      - Voice Settings
      parameters:
      - $ref: '#/components/parameters/voiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSettings'
      responses:
        '200':
          description: Voice settings updated successfully
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Voice not found
  /v1/voices/settings/default:
    get:
      operationId: getDefaultVoiceSettings
      summary: Get default voice settings
      description: Returns the default voice settings that are applied when no voice-specific or per-request settings are provided.
      tags:
      - Voice Settings
      responses:
        '200':
          description: Default voice settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettings'
        '401':
          description: Unauthorized - invalid or missing API key
components:
  parameters:
    voiceId:
      name: voice_id
      in: path
      required: true
      description: The identifier of the voice.
      schema:
        type: string
  schemas:
    VoiceSettings:
      type: object
      properties:
        stability:
          type: number
          description: Controls the stability of the generated voice output.
          minimum: 0
          maximum: 1
        similarity_boost:
          type: number
          description: Controls how closely the AI adheres to the original voice.
          minimum: 0
          maximum: 1
        style:
          type: number
          description: Controls the expressiveness and style of the speech delivery.
          minimum: 0
          maximum: 1
          default: 0
        use_speaker_boost:
          type: boolean
          description: Enables speaker boost to increase voice clarity.
          default: true
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: xi-api-key
      description: ElevenLabs API key passed in the xi-api-key header for authentication.
externalDocs:
  description: ElevenLabs Audio Isolation API Documentation
  url: https://elevenlabs.io/docs/api-reference/audio-isolation/audio-isolation
