openapi: 3.1.0
info:
  title: ElevenLabs Audio Isolation Agents Instant Voice Cloning API
  description: The ElevenLabs Audio Isolation API removes background noise from audio recordings, isolating vocal tracks from ambient sounds and interference. This is useful for cleaning up recordings, improving audio quality for podcasts and interviews, and preparing audio files for further processing such as voice cloning or transcription.
  version: '1.0'
  contact:
    name: ElevenLabs Support
    url: https://help.elevenlabs.io
  termsOfService: https://elevenlabs.io/terms-of-service
servers:
- url: https://api.elevenlabs.io
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Instant Voice Cloning
  description: Endpoints for creating voice clones from short audio samples with instant processing.
paths:
  /v1/voices/add:
    post:
      operationId: createInstantVoiceClone
      summary: Create instant voice clone
      description: Creates a new voice clone from uploaded audio samples using instant voice cloning. Requires a minimum of 60 seconds of clean audio. The cloned voice is immediately available for use with speech generation endpoints.
      tags:
      - Instant Voice Cloning
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InstantVoiceCloneRequest'
      responses:
        '200':
          description: Voice clone created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceCloneResponse'
        '400':
          description: Bad request - invalid audio or parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '422':
          description: Unprocessable entity - audio too short or low quality
components:
  schemas:
    VoiceCloneResponse:
      type: object
      properties:
        voice_id:
          type: string
          description: The unique identifier of the newly created voice clone.
    InstantVoiceCloneRequest:
      type: object
      required:
      - name
      - files
      properties:
        name:
          type: string
          description: The name for the cloned voice.
        description:
          type: string
          description: Description of the cloned voice and its intended use.
        labels:
          type: string
          description: JSON string of key-value label pairs describing the voice characteristics such as accent, age, and gender.
        files:
          type: array
          description: Audio sample files for cloning. A minimum of 60 seconds of clean audio is recommended for best results.
          items:
            type: string
            format: binary
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: xi-api-key
      description: ElevenLabs API key passed in the xi-api-key header for authentication.
externalDocs:
  description: ElevenLabs Audio Isolation API Documentation
  url: https://elevenlabs.io/docs/api-reference/audio-isolation/audio-isolation
