openapi: 3.2.0
info:
  title: Elevenlabs Speech to Speech API
  version: '1.0'
  description: 'Operations tagged Speech to Speech across 2 of this provider''s published API definitions: elevenlabs-voice-changer-openapi.yml, elevenlabs-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elevenlabs.io
  description: Production Server
tags:
- name: Speech to Speech
  description: Endpoints for converting speech from one voice to another while preserving the original speech characteristics.
paths:
  /v1/speech-to-speech/{voice_id}:
    post:
      operationId: convertVoice
      summary: Voice changer
      description: Converts an audio recording to use a different voice while preserving the original speech content, timing, and emotional delivery. The target voice can be any voice available in the user's library.
      tags:
      - Speech to Speech
      parameters:
      - $ref: '#/components/parameters/voiceId'
      - $ref: '#/components/parameters/outputFormat'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SpeechToSpeechRequest'
      responses:
        '200':
          description: Voice conversion completed successfully
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request - invalid audio or parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '422':
          description: Unprocessable entity - audio could not be processed
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.elevenlabs.io
      description: Production Server
  /v1/speech-to-speech/{voice_id}/stream:
    post:
      operationId: streamConvertedVoice
      summary: Voice changer stream
      description: Converts an audio recording to use a different voice and streams the result using chunked transfer encoding. Useful for real-time processing and playback scenarios.
      tags:
      - Speech to Speech
      parameters:
      - $ref: '#/components/parameters/voiceId'
      - $ref: '#/components/parameters/outputFormat'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SpeechToSpeechRequest'
      responses:
        '200':
          description: Streaming voice conversion response
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request - invalid audio or parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '422':
          description: Unprocessable entity - audio could not be processed
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.elevenlabs.io
      description: Production Server
components:
  parameters:
    voiceId:
      name: voice_id
      in: path
      required: true
      description: The identifier of the target voice to convert the audio to.
      schema:
        type: string
    outputFormat:
      name: output_format
      in: query
      required: false
      description: The desired output audio format.
      schema:
        type: string
        default: mp3_44100_128
        enum:
        - mp3_22050_32
        - mp3_44100_32
        - mp3_44100_64
        - mp3_44100_96
        - mp3_44100_128
        - mp3_44100_192
        - pcm_16000
        - pcm_22050
        - pcm_24000
        - pcm_44100
        - ulaw_8000
  schemas:
    SpeechToSpeechRequest:
      type: object
      required:
      - audio
      properties:
        audio:
          type: string
          format: binary
          description: The source audio file containing the speech to convert. Supports common audio formats including MP3, WAV, and OGG.
        model_id:
          type: string
          description: The identifier of the model to use for voice conversion.
        voice_settings:
          type: object
          description: Voice settings to override the default settings for the target voice.
          properties:
            stability:
              type: number
              description: Controls the stability of the converted voice output.
              minimum: 0
              maximum: 1
            similarity_boost:
              type: number
              description: Controls how closely the output matches the target voice.
              minimum: 0
              maximum: 1
            style:
              type: number
              description: Controls the expressiveness of the converted speech.
              minimum: 0
              maximum: 1
            use_speaker_boost:
              type: boolean
              description: Enables speaker boost for increased clarity.
        seed:
          type: integer
          description: A seed value for deterministic generation.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Body_Speech_to_Speech_v1_speech_to_speech__voice_id__post:
      properties:
        audio:
          type: string
          title: Audio
          description: The audio file which holds the content and emotion that will control the generated speech.
          format: binary
        model_id:
          type: string
          title: Model Id
          description: Identifier of the model that will be used, you can query them using GET /v1/models. The model needs to have support for speech to speech, you can check this using the can_do_voice_conversion property.
          default: eleven_english_sts_v2
        voice_settings:
          anyOf:
          - type: string
          - type: 'null'
          title: Voice Settings
          description: Voice settings overriding stored settings for the given voice. They are applied only on the given request. Needs to be send as a JSON encoded string.
        seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seed
          description: If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed. Must be integer between 0 and 4294967295.
          examples:
          - 12345
        remove_background_noise:
          type: boolean
          title: Remove Background Noise
          description: If set, will remove the background noise from your audio input using our audio isolation model. Only applies to Voice Changer.
          default: false
          examples:
          - true
        file_format:
          anyOf:
          - type: string
            enum:
            - pcm_s16le_16
            - other
          - type: 'null'
          title: File Format
          description: The format of input audio. Options are 'pcm_s16le_16' or 'other' For `pcm_s16le_16`, the input audio must be 16-bit PCM at a 16kHz sample rate, single channel (mono), and little-endian byte order. Latency will be lower than with passing an encoded waveform.
          default: other
          examples:
          - pcm_s16le_16
          - other
      type: object
      required:
      - audio
      title: Body_Speech_to_Speech_v1_speech_to_speech__voice_id__post
    Body_Speech_to_Speech_Streaming_v1_speech_to_speech__voice_id__stream_post:
      properties:
        audio:
          type: string
          title: Audio
          description: The audio file which holds the content and emotion that will control the generated speech.
          format: binary
        model_id:
          type: string
          title: Model Id
          description: Identifier of the model that will be used, you can query them using GET /v1/models. The model needs to have support for speech to speech, you can check this using the can_do_voice_conversion property.
          default: eleven_english_sts_v2
        voice_settings:
          anyOf:
          - type: string
          - type: 'null'
          title: Voice Settings
          description: Voice settings overriding stored settings for the given voice. They are applied only on the given request. Needs to be send as a JSON encoded string.
        seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seed
          description: If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed. Must be integer between 0 and 4294967295.
          examples:
          - 12345
        remove_background_noise:
          type: boolean
          title: Remove Background Noise
          description: If set, will remove the background noise from your audio input using our audio isolation model. Only applies to Voice Changer.
          default: false
          examples:
          - true
        file_format:
          anyOf:
          - type: string
            enum:
            - pcm_s16le_16
            - other
          - type: 'null'
          title: File Format
          description: The format of input audio. Options are 'pcm_s16le_16' or 'other' For `pcm_s16le_16`, the input audio must be 16-bit PCM at a 16kHz sample rate, single channel (mono), and little-endian byte order. Latency will be lower than with passing an encoded waveform.
          default: other
          examples:
          - pcm_s16le_16
          - other
      type: object
      required:
      - audio
      title: Body_Speech_to_Speech_Streaming_v1_speech_to_speech__voice_id__stream_post
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: xi-api-key
      description: ElevenLabs API key passed in the xi-api-key header for authentication.
externalDocs:
  description: ElevenLabs Voice Changer API Documentation
  url: https://elevenlabs.io/docs/api-reference/speech-to-speech/convert
x-refined-from:
- elevenlabs-voice-changer-openapi.yml
- elevenlabs-openapi.json
