openapi: 3.1.0
info:
  title: ElevenLabs Audio Isolation Agents Audio Native API
  description: The ElevenLabs Audio Isolation API removes background noise from audio recordings, isolating vocal tracks from ambient sounds and interference. This is useful for cleaning up recordings, improving audio quality for podcasts and interviews, and preparing audio files for further processing such as voice cloning or transcription.
  version: '1.0'
  contact:
    name: ElevenLabs Support
    url: https://help.elevenlabs.io
  termsOfService: https://elevenlabs.io/terms-of-service
servers:
- url: https://api.elevenlabs.io
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Audio Native
  description: Endpoints for creating and managing Audio Native embedded players for web content.
paths:
  /v1/audio-native:
    post:
      operationId: createAudioNativeProject
      summary: Create audio native project
      description: Creates an Audio Native embedded player project for converting web content into listenable audio experiences.
      tags:
      - Audio Native
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudioNativeRequest'
      responses:
        '200':
          description: Audio Native project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioNativeResponse'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing API key
components:
  schemas:
    CreateAudioNativeRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the Audio Native project.
        title:
          type: string
          description: Title displayed in the embedded player.
        body:
          type: string
          description: The text content to convert to audio.
        source_url:
          type: string
          format: uri
          description: A URL to import content from for the audio player.
        voice_id:
          type: string
          description: The voice to use for audio generation.
        model_id:
          type: string
          description: The TTS model to use.
        auto_convert:
          type: boolean
          description: Whether to automatically convert the content to audio.
          default: false
    AudioNativeResponse:
      type: object
      properties:
        project_id:
          type: string
          description: The identifier of the created Audio Native project.
        html_snippet:
          type: string
          description: HTML snippet for embedding the audio player on a web page.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: xi-api-key
      description: ElevenLabs API key passed in the xi-api-key header for authentication.
externalDocs:
  description: ElevenLabs Audio Isolation API Documentation
  url: https://elevenlabs.io/docs/api-reference/audio-isolation/audio-isolation
