openapi: 3.2.0
info:
  title: ElevenLabs Studio Chapters API
  description: The ElevenLabs Studio API provides programmatic access to the ElevenLabs Studio project management system. Developers can create, manage, and render long-form audio content projects through the API, organizing text into chapters and assigning different voices to different sections. The Studio is designed for producing audiobooks, podcasts, and other long-form audio content at scale.
  version: '1.0'
  contact:
    name: ElevenLabs Support
    url: https://help.elevenlabs.io
  termsOfService: https://elevenlabs.io/terms-of-service
servers:
- url: https://api.elevenlabs.io
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Chapters
  description: Endpoints for managing chapters within Studio projects.
paths:
  /v1/studio/projects/{project_id}/chapters:
    get:
      operationId: listChapters
      summary: List chapters
      description: Returns a list of chapters in a Studio project.
      tags:
      - Chapters
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: Chapters listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterListResponse'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Project not found
  /v1/studio/projects/{project_id}/chapters/{chapter_id}:
    get:
      operationId: getChapter
      summary: Get chapter
      description: Retrieves the full details of a specific chapter in a Studio project.
      tags:
      - Chapters
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/chapterId'
      responses:
        '200':
          description: Chapter details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Chapter not found
    delete:
      operationId: deleteChapter
      summary: Delete chapter
      description: Deletes a chapter from a Studio project.
      tags:
      - Chapters
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/chapterId'
      responses:
        '200':
          description: Chapter deleted successfully
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Chapter not found
components:
  parameters:
    projectId:
      name: project_id
      in: path
      required: true
      description: The unique identifier of the Studio project.
      schema:
        type: string
    chapterId:
      name: chapter_id
      in: path
      required: true
      description: The unique identifier of the chapter.
      schema:
        type: string
  schemas:
    ChapterSummary:
      type: object
      properties:
        chapter_id:
          type: string
          description: Unique identifier for the chapter.
        name:
          type: string
          description: Display name of the chapter.
        state:
          type: string
          description: Current rendering state of the chapter.
    ChapterListResponse:
      type: object
      properties:
        chapters:
          type: array
          description: List of chapters.
          items:
            $ref: '#/components/schemas/ChapterSummary'
    Chapter:
      type: object
      properties:
        chapter_id:
          type: string
          description: Unique identifier for the chapter.
        name:
          type: string
          description: Display name of the chapter.
        content:
          type: string
          description: The text content of the chapter.
        voice_id:
          type: string
          description: The voice assigned to this chapter.
        state:
          type: string
          description: Current rendering state of the chapter.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: xi-api-key
      description: ElevenLabs API key passed in the xi-api-key header for authentication.
externalDocs:
  description: ElevenLabs Studio Documentation
  url: https://elevenlabs.io/docs/overview/capabilities/projects
