openapi: 3.2.0
info:
  title: Elevenlabs Voices API
  version: '1.0'
  description: 'Operations tagged voices across 2 of this provider''s published API definitions: elevenlabs-openapi.json, elevenlabs-voices-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elevenlabs.io
  description: Production Server
tags:
- name: Voices
  description: Access to voices created either by you or ElevenLabs.
paths:
  /v1/voices/settings/default:
    get:
      tags:
      - Voices
      summary: Get Default Voice Settings
      description: Gets the default settings for voices. "similarity_boost" corresponds to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: get_voice_settings_default
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
      x-fern-sdk-group-name:
      - voices
      - settings
      x-fern-sdk-method-name: get_default
  /v1/voices/{voice_id}/settings:
    get:
      tags:
      - Voices
      summary: Get Voice Settings
      description: Returns the settings for a specific voice. "similarity_boost" corresponds to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: get_voice_settings
      parameters:
      - name: voice_id
        in: path
        required: true
        schema:
          type: string
          description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
          examples:
          - 21m00Tcm4TlvDq8ikWAM
          title: Voice Id
        description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - voices
      - settings
      x-fern-sdk-method-name: get
  /v1/voices/{voice_id}/settings/edit:
    post:
      tags:
      - Voices
      summary: Edit Voice Settings
      description: Edit your settings for a specific voice. "similarity_boost" corresponds to "Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: edit_voice_settings
      parameters:
      - name: voice_id
        in: path
        required: true
        schema:
          type: string
          description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
          examples:
          - 21m00Tcm4TlvDq8ikWAM
          title: Voice Id
        description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSettingsResponseModel'
              description: The settings for a specific voice.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditVoiceSettingsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - voices
      - settings
      x-fern-sdk-method-name: update
  /v1/voices/accents:
    get:
      tags:
      - Voices
      summary: Get Voice Accents
      description: Gets the list of available accents in the shared voice library.
      operationId: get_voice_accents
      parameters:
      - name: language
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: If provided, only accents for this language code are returned.
          examples:
          - en
          title: Language
        description: If provided, only accents for this language code are returned.
      - name: model_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: If provided, returns the accents available for this model. Defaults to the most complete accent list when omitted.
          examples:
          - eleven_v3
          title: Model Id
        description: If provided, returns the accents available for this model. Defaults to the most complete accent list when omitted.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoiceAccentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - voices
      - accents
      x-fern-sdk-method-name: get
  /v1/voices:
    get:
      tags:
      - Voices
      summary: List Voices
      description: Returns a list of all available voices for a user. Stops working once the user's workspace exceeds 500 voices.
      operationId: get_voices
      parameters:
      - name: show_legacy
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: If set to true, legacy premade voices will be included in responses from /v1/voices
          examples:
          - true
          default: false
          title: Show Legacy
        description: If set to true, legacy premade voices will be included in responses from /v1/voices
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: get_all
  /v1/voices/{voice_id}:
    get:
      tags:
      - Voices
      summary: Get Voice
      description: Returns metadata about a specific voice.
      operationId: get_voice_by_id
      parameters:
      - name: voice_id
        in: path
        required: true
        schema:
          type: string
          description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
          examples:
          - 21m00Tcm4TlvDq8ikWAM
          title: Voice Id
        description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
      - name: with_settings
        in: query
        required: false
        schema:
          type: boolean
          description: This parameter is now deprecated. It is ignored and will be removed in a future version.
          deprecated: true
          default: true
          title: With Settings
        description: This parameter is now deprecated. It is ignored and will be removed in a future version.
        deprecated: true
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: get
    delete:
      tags:
      - Voices
      summary: Delete Voice
      description: Deletes a voice by its ID.
      operationId: delete_voice
      parameters:
      - name: voice_id
        in: path
        required: true
        schema:
          type: string
          description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
          examples:
          - 21m00Tcm4TlvDq8ikWAM
          title: Voice Id
        description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: delete
  /v1/voices/{voice_id}/edit:
    post:
      tags:
      - Voices
      summary: Edit Voice
      description: Edit a voice created by you.
      operationId: edit_voice
      parameters:
      - name: voice_id
        in: path
        required: true
        schema:
          type: string
          description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
          examples:
          - 21m00Tcm4TlvDq8ikWAM
          title: Voice Id
        description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Edit_voice_v1_voices__voice_id__edit_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: update
  /v2/voices:
    get:
      tags:
      - Voices
      summary: Get Voices V2
      description: Gets a list of all available voices for a user with search, filtering and pagination.
      operationId: get_user_voices_v2
      parameters:
      - name: next_page_token
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The next page token to use for pagination. Returned from the previous request. Use this in combination with the has_more flag for reliable pagination.
          examples:
          - '0'
          title: Next Page Token
        description: The next page token to use for pagination. Returned from the previous request. Use this in combination with the has_more flag for reliable pagination.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          description: How many voices to return at maximum. Can not exceed 100, defaults to 10. Page 0 may include more voices due to default voices being included.
          default: 10
          title: Page Size
        description: How many voices to return at maximum. Can not exceed 100, defaults to 10. Page 0 may include more voices due to default voices being included.
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search term to filter voices by. Searches in name, description, labels, category.
          title: Search
        description: Search term to filter voices by. Searches in name, description, labels, category.
      - name: sort
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Which field to sort by, one of 'created_at_unix' or 'name'. 'created_at_unix' may not be available for older voices.
          examples:
          - created_at_unix
          title: Sort
        description: Which field to sort by, one of 'created_at_unix' or 'name'. 'created_at_unix' may not be available for older voices.
      - name: sort_direction
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Which direction to sort the voices in. 'asc' or 'desc'.
          examples:
          - desc
          title: Sort Direction
        description: Which direction to sort the voices in. 'asc' or 'desc'.
      - name: voice_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Type of the voice to filter by. One of 'personal', 'community', 'default', 'workspace', 'non-default', 'non-community', 'saved'. 'non-default' is equal to all but 'default'. 'non-community' is equal to 'personal' and 'workspace' combined (excludes library copies). 'saved' is equal to non-default, but includes default voices if they have been added to a collection.
          title: Voice Type
        description: Type of the voice to filter by. One of 'personal', 'community', 'default', 'workspace', 'non-default', 'non-community', 'saved'. 'non-default' is equal to all but 'default'. 'non-community' is equal to 'personal' and 'workspace' combined (excludes library copies). 'saved' is equal to non-default, but includes default voices if they have been added to a collection.
      - name: category
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Category of the voice to filter by. One of 'premade', 'cloned', 'generated', 'professional'
          title: Category
        description: Category of the voice to filter by. One of 'premade', 'cloned', 'generated', 'professional'
      - name: fine_tuning_state
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: State of the voice's fine tuning to filter by. Applicable only to professional voices clones. One of 'draft', 'not_verified', 'not_started', 'queued', 'fine_tuning', 'fine_tuned', 'failed', 'delayed'
          title: Fine Tuning State
        description: State of the voice's fine tuning to filter by. Applicable only to professional voices clones. One of 'draft', 'not_verified', 'not_started', 'queued', 'fine_tuning', 'fine_tuned', 'failed', 'delayed'
      - name: collection_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Collection ID to filter voices by.
          title: Collection Id
        description: Collection ID to filter voices by.
      - name: gender
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Gender used for filtering, based on the voice's 'gender' label.
          examples:
          - male
          title: Gender
        description: Gender used for filtering, based on the voice's 'gender' label.
      - name: age
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Age used for filtering, based on the voice's 'age' label.
          examples:
          - young
          title: Age
        description: Age used for filtering, based on the voice's 'age' label.
      - name: language
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Languages used for filtering, based on the voice's 'language' label. Voices matching any of the given languages are returned.
          examples:
          - - en
            - es
          title: Language
        description: Languages used for filtering, based on the voice's 'language' label. Voices matching any of the given languages are returned.
      - name: accent
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Accent used for filtering, based on the voice's 'accent' label.
          examples:
          - american
          title: Accent
        description: Accent used for filtering, based on the voice's 'accent' label.
      - name: use_cases
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Use cases used for filtering, based on the voice's 'use_case' label. Voices matching any of the given use cases are returned.
          examples:
          - - conversational
            - narrative_story
          title: Use Cases
        description: Use cases used for filtering, based on the voice's 'use_case' label. Voices matching any of the given use cases are returned.
      - name: min_notice_period_days
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Filter to voices whose sharing notice period is at least the given number of days.
          examples:
          - 30
          title: Min Notice Period Days
        description: Filter to voices whose sharing notice period is at least the given number of days.
      - name: include_custom_rates
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether to include voices that have a custom sharing rate. Defaults to including them.
          examples:
          - true
          title: Include Custom Rates
        description: Whether to include voices that have a custom sharing rate. Defaults to including them.
      - name: include_live_moderated
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether to include voices that have live moderation enabled. Defaults to including them.
          examples:
          - true
          title: Include Live Moderated
        description: Whether to include voices that have live moderation enabled. Defaults to including them.
      - name: high_quality
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: When true, only return studio-quality voices (those whose category is 'high_quality').
          examples:
          - true
          title: High Quality
        description: When true, only return studio-quality voices (those whose category is 'high_quality').
      - name: include_total_count
        in: query
        required: false
        schema:
          type: boolean
          description: 'Whether to include the total count of voices found in the response. NOTE: The total_count value is a live snapshot and may change between requests as users create, modify, or delete voices. For pagination, rely on the has_more flag instead. Only enable this when you actually need the total count (e.g., for display purposes), as it incurs a performance cost.'
          examples:
          - true
          default: true
          title: Include Total Count
        description: 'Whether to include the total count of voices found in the response. NOTE: The total_count value is a live snapshot and may change between requests as users create, modify, or delete voices. For pagination, rely on the has_more flag instead. Only enable this when you actually need the total count (e.g., for display purposes), as it incurs a performance cost.'
      - name: voice_ids
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Voice IDs to lookup by. Maximum 100 voice IDs.
          title: Voice Ids
        description: Voice IDs to lookup by. Maximum 100 voice IDs.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesV2ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: search
  /v1/voices/{voice_id}/replicate-to-isolated-environment:
    post:
      tags:
      - Voices
      summary: Replicate Voice To Isolated Environment
      description: Replicates an Instant Voice Clone or Voice Design voice to a workspace in a different data residency. The target workspace must belong to the same consolidated billing group. The user must have VOICES_WRITE in the source workspace, and be an admin on the source voice. Human users (i.e. not service accounts) must also have VOICES_WRITE in the target workspace. This endpoint is available on the central environment only.
      operationId: replicate_voice_to_isolated_environment
      parameters:
      - name: voice_id
        in: path
        required: true
        schema:
          type: string
          description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
          examples:
          - 21m00Tcm4TlvDq8ikWAM
          title: Voice Id
        description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplicateVoiceToIsolatedEnvironmentRequestModel'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicateVoiceToIsolatedEnvironmentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: replicate_to_isolated_environment
  /v1/voices/add:
    post:
      tags:
      - Voices
      summary: Add Voice
      description: Add a new voice to your collection of voices in VoiceLab.
      operationId: add_voice
      parameters:
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Add_voice_v1_voices_add_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceIVCResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - voices
      - ivc
      x-fern-sdk-method-name: create
  /v1/voices/add/{public_user_id}/{voice_id}:
    post:
      tags:
      - Voices
      summary: Add Shared Voice
      description: Add a shared voice to your collection of voices.
      operationId: add_sharing_voice
      parameters:
      - name: public_user_id
        in: path
        required: true
        schema:
          type: string
          description: Public user ID used to publicly identify ElevenLabs users.
          examples:
          - 63e06b7e7cafdc46be4d2e0b3f045940231ae058d508589653d74d1265a574ca
          title: Public User Id
        description: Public user ID used to publicly identify ElevenLabs users.
      - name: voice_id
        in: path
        required: true
        schema:
          type: string
          description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
          examples:
          - 21m00Tcm4TlvDq8ikWAM
          title: Voice Id
        description: Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Add_shared_voice_v1_voices_add__public_user_id___voice_id__post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: share
  /v1/similar-voices:
    post:
      tags:
      - Voices
      summary: Get Similar Library Voices
      description: Returns a list of shared voices similar to the provided audio sample. If neither similarity_threshold nor top_k is provided, we will apply default values.
      operationId: get_similar_library_voices
      parameters:
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Get_similar_library_voices_v1_similar_voices_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLibraryVoicesResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: find_similar_voices
  /v1/shared-voices:
    get:
      tags:
      - Voices
      summary: Get Voices
      description: Retrieves a list of shared voices.
      operationId: get_library_voices
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          description: How many shared voices to return at maximum. Can not exceed 100, defaults to 30.
          default: 30
          title: Page Size
        description: How many shared voices to return at maximum. Can not exceed 100, defaults to 30.
      - name: category
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Voice category used for filtering
          examples:
          - professional
          enum:
          - professional
          - famous
          - high_quality
          title: Category
        description: Voice category used for filtering
      - name: gender
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Gender used for filtering
          examples:
          - male
          title: Gender
        description: Gender used for filtering
      - name: age
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Age used for filtering
          examples:
          - young
          title: Age
        description: Age used for filtering
      - name: accent
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Accent used for filtering
          examples:
          - american
          title: Accent
        description: Accent used for filtering
      - name: language
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Language used for filtering
          examples:
          - en
          title: Language
        description: Language used for filtering
      - name: locale
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Locale used for filtering
          examples:
          - en-US
          title: Locale
        description: Locale used for filtering
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search term used for filtering
          examples:
          - tiktok
          title: Search
        description: Search term used for filtering
      - name: use_cases
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Use-case used for filtering
          examples:
          - audiobook
          title: Use Cases
        description: Use-case used for filtering
      - name: descriptives
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Search term used for filtering
          examples:
          - tiktok
          title: Descriptives
        description: Search term used for filtering
      - name: featured
        in: query
        required: false
        schema:
          type: boolean
          description: Filter featured voices
          examples:
          - true
          default: false
          title: Featured
        description: Filter featured voices
      - name: min_notice_period_days
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Filter voices with a minimum notice period of the given number of days.
          examples:
          - 30
          title: Min Notice Period Days
        description: Filter voices with a minimum notice period of the given number of days.
      - name: include_custom_rates
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Include/exclude voices with custom rates
          examples:
          - true
          title: Include Custom Rates
        description: Include/exclude voices with custom rates
      - name: include_live_moderated
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Include/exclude voices that are live moderated
          examples:
          - true
          title: Include Live Moderated
        description: Include/exclude voices that are live moderated
      - name: reader_app_enabled
        in: query
        required: false
        schema:
          type: boolean
          description: Filter voices that are enabled for the reader app
          examples:
          - true
          default: false
          title: Reader App Enabled
        description: Filter voices that are enabled for the reader app
      - name: owner_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter voices by public owner ID
          examples:
          - 7c9fab611d9a0e1fb2e7448a0c294a8804efc2bcc324b0a366a5d5232b7d1532
          title: Owner Id
        description: Filter voices by public owner ID
      - name: sort
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Sort criteria. Must be one of: created_date, usage_character_count_1y, trending, cloned_by_count.'
          examples:
          - created_date
          enum:
          - created_date
          - usage_character_count_1y
          - trending
          - cloned_by_count
          default: created_date
          title: Sort
        description: 'Sort criteria. Must be one of: created_date, usage_character_count_1y, trending, cloned_by_count.'
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLibraryVoicesResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: get_shared
components:
  schemas:
    Body_Edit_voice_v1_voices__voice_id__edit_post:
      properties:
        name:
          type: string
          title: Name
          description: The name that identifies this voice. This will be displayed in the dropdown of the website.
          examples:
          - John Smith
        files:
          items:
            type: string
            format: binary
          type: array
          title: Files
          description: Audio files to add to the voice
        remove_background_noise:
          type: boolean
          title: Remove Background Noise
          description: If set will remove background noise for voice samples using our audio isolation model. If the samples do not include background noise, it can make the quality worse.
          default: false
          examples:
          - true
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: A description of the voice.
          examples:
          - An old American male voice with a slight hoarseness in his throat. Perfect for news.
        labels:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: string
          - type: 'null'
          title: Labels
          description: Labels for the voice. Keys can be language, accent, gender, or age.
          examples:
          - '{"language": "en", "accent": "en-US", "gender": "male", "age": "middle-aged"}'
        moderate_metadata:
          type: boolean
          title: Moderate Metadata
          description: Run synchronous LLM moderation over the voice name and description when they change. Has no effect unless the voice_library_metadata_moderation feature flag is enabled for the user.
          default: false
      type: object
      required:
      - name
      title: Body_Edit_voice_v1_voices__voice_id__edit_post
    LibraryVoiceResponseModel:
      properties:
        public_owner_id:
          type: string
          title: Public Owner Id
          description: The public owner id of the voice.
        voice_id:
          type: string
          title: Voice Id
          description: The id of the voice.
        date_unix:
          type: integer
          title: Date Unix
          description: The date the voice was added to the library in Unix time.
        name:
          type: string
          title: Name
          description: The name of the voice.
        accent:
          type: string
          title: Accent
          description: The accent of the voice.
        gender:
          type: string
          title: Gender
          description: The gender of the voice.
        age:
          type: string
          title: Age
          description: The age of the voice.
        descriptive:
          type: string
          title: Descriptive
          description: The descriptive of the voice.
        use_case:
          type: string
          title: Use Case
          description: The use case of the voice.
        category:
          type: string
          enum:
          - generated
          - cloned
          - premade
          - professional
          - famous
          - high_quality
          title: Category
          description: The category of the voice.
        language:
          anyOf:
          - type: string
          - type: 'null'
          title: Language
          description: The language of the voice.
        locale:
          anyOf:
          - type: string
          - type: 'null'
          title: Locale
          description: The locale of the voice.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the voice.
        preview_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Preview Url
          description: The preview URL of the voice.
        usage_character_count_1y:
          type: integer
          title: Usage Character Count 1Y
          description: The usage character count of the voice in the last year.
        usage_character_count_7d:
          type: integer
          title: Usage Character Count 7D
          description: The usage character count of the voice in the last 7 days.
        play_api_usage_character_count_1y:
          type: integer
          title: Play Api Usage Character Count 1Y
          description: The play API usage character count of the voice in the last year.
        cloned_by_count:
          type: integer
          title: Cloned By Count
          description: The number of times the voice has been cloned.
        rate:
          anyOf:
          - type: number
          - type: 'null'
          title: Rate
          description: The rate multiplier of the voice.
        fiat_rate:
          anyOf:
          - type: number
          - type: 'null'
          title: Fiat Rate
          description: The rate of the voice in USD per 1000 credits. null if default
        free_users_allowed:
          type: boolean
          title: Free Users Allowed
          description: Whether free users are allowed to use the voice.
        live_moderation_enabled:
          type: boolean
          title: Live Moderation Enabled
          description: Whether live moderation is enabled for the voice.
        featured:
          type: boolean
          title: Featured
          description: Whether the voice is featured.
        verified_languages:
          anyOf:
          - items:
              $ref: '#/components/schemas/VerifiedVoiceLanguageResponseModel'
            type: array
          - type: 'null'
          title: Verified Languages
          description: The verified languages of the voice.
        notice_period:
          anyOf:
          - type: integer
          - type: 'null'
          title: Notice Period
          description: The notice period of the voice.
        instagram_username:
          anyOf:
          - type: string
          - type: 'null'
          title: Instagram Username
          description: The Instagram username of the voice.
        twitter_username:
          anyOf:
          - type: string
          - type: 'null'
          title: Twitter Username
          description: The Twitter username of the voice.
        youtube_username:
          anyOf:
          - type: string
          - type: 'null'
          title: Youtube Username
          description: The YouTube username of the voice.
        tiktok_username:
          anyOf:
          - type: string
          - type: 'null'
          title: Tiktok Username
          description: The TikTok username of the voice.
        image_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Image Url
          description: The image URL of the voice.
        is_added_by_user:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Added By User
          description: Whether the voice was added by the user.
        is_bookmarked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Bookmarked
          description: Whether the voice is bookmarked by the current user. Only relevant when is_added_by_user is True.
      type: object
      required:
      - public_owner_id
      - voice_id
      - date_unix
      - name
      - accent
      - gender
      - age
      - descriptive
      - use_case
      - category
      - usage_character_count_1y
      - usage_character_count_7d
      - play_api_usage_character_count_1y
      - cloned_by_count
      - free_users_allowed
      - live_moderation_enabled
      - featured
      title: LibraryVoiceResponseModel
      example:
        accent: american
        age: young
        category: professional
        cloned_by_count: 11
        date_unix: 1714423232
        description: Perfectly calm, neutral and strong voice. Great for a young female protagonist.
        descriptive: calm
        featured: false
        free_users_allowed: true
        gender: Female
        language: en
        live_moderation_enabled: false
        name: Alita
        play_api_usage_character_count_1y: 12852
        preview_url: https://storage.googleapis.com/eleven-public-prod/wqkMCd9huxXHX1dy5mLJn4QEQHj1/voices/sB1b5zUrxQVAFl2PhZFp/55e71aac-5cb7-4b3d-8241-429388160509.mp3
        public_owner_id: 63e84100a6bf7874ba37a1bab9a31828a379ec94b891b401653b655c5110880f
        rate: 1
        usage_character_count_1y: 12852
        usage_character_count_7d: 12852
        use_case: characters_animation
        verified_languages:
        - accent: american
          language: en
          locale: en-US
          model_id: eleven_multilingual_v2
          preview_url: https://storage.googleapis.com/eleven-public-prod/wqkMCd9huxXHX1dy5mLJn4QEQHj1/voices/sB1b5zUrxQVAFl2PhZFp/55e71aac-5cb7-4b3d-8241-429388160509.mp3
        voice_id: sB1b5zUrxQVAFl2PhZFp
    UtteranceResponseModel:
      properties:
        start:
          type: number
          title: Start
          description: The start time of the utterance in seconds.
        end:
          type: number
          title: End
          description: The end time of the utterance in seconds.
      type: object
      required:
      - start
      - end
      title: UtteranceResponseModel
      example:
        end: 1.0
        start: 0.0
    VoiceResponseModel:
      properties:
        voice_id:
          type: string
          title: Voice Id
          description: The ID of the voice.
        name:
          type: string
          title: Name
          description: The name of the voice.
        samples:
          anyOf:
          - items:
              $ref: '#/components/schemas/SampleResponseModel'
            type: array
          - type: 'null'
          title: Samples
          description: List of samples associated with the voice.
        category:
          type: string
          enum:
          - generated
          - cloned
          - premade
          - professional
          - famous
          - high_quality
          title: Category
          description: The category of the voice.
        fine_tuning:
          anyOf:
          - $ref: '#/components/schemas/FineTuningResponseModel'
          - type: 'null'
          description: Fine-tuning information for the voice.
        labels:
          additionalProperties:
            type: string
          type: object
          title: Labels
          description: Labels associated with the voice.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the voice.
        preview_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Preview Url
          description: The preview URL of the voice.
        available_for_tiers:
          items:
            type: string
          type: array
          title: Available For Tiers
          description: The tiers the voice is available for.
        settings:
          anyOf:
          - $ref: '#/components/schemas/VoiceSettingsResponseModel'
          - type: 'null'
          description: The settings of the voice.
        sharing:
          anyOf:
          - $ref: '#/components/schemas/VoiceSharingResponseModel'
          - type: 'null'
          description: The sharing information of the voice.
        high_quality_base_model_ids:
          items:
            type: string
          type: array
          title: High Quality Base Model Ids
          description: The base model IDs for high-quality voices.
        verified_languages:
          anyOf:
          - items:
              $ref: '#/components/schemas/VerifiedVoiceLanguageResponseModel'
            type: array
          - type: 'null'
          title: Verified Languages
          description: The verified languages of the voice.
        collection_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Collection Ids
          description: The IDs of collections this voice belongs to.
        safety_control:
          anyOf:
          - type: string
            enum:
            - NONE
            - BAN
            - CAPTCHA
            - ENTERPRISE_BAN
            - ENTERPRISE_CAPTCHA
          - type: 'null'
          title: Safety Control
          description: The safety controls of the voice.
        voice_verification:
          anyOf:
          - $ref: '#/components/schemas/VoiceVerificationResponseModel'
          - type: 'null'
          description: The voice verification of the voice.
        permission_on_resource:
          anyOf:
          - type: string
          - type: 'null'
          title: Permission On Resource
          description: The permission on the resource of the voice.
        is_owner:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Owner
          description: Whether the voice is owned by the user.
        is_legacy:
          type: boolean
          title: Is Legacy
          description: Whether the voice is legacy.
          default: false
        is_mixed:
          type: boolean
          title: Is Mixed
          description: Whether the voice is mixed.
          default: false
        favorited_at_unix:
          anyOf:
          - type: integer
          - type: 'null'
          title: Favorited At Unix
          description: Timestamp when the voice was marked as favorite in Unix time.
        created_at_unix:
          anyOf:
          - type: integer
          - type: 'null'
          title: Created At Unix
          description: The creation time of the voice in Unix time.
        is_bookmarked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Bookmarked
          description: Whether the voice is bookmarked by the current user. Only relevant for community (library-copied) voices.
        recording_quality:
          anyOf:
          - type: string
            enum:
            - studio
            - good
            - ok
            - poor
            - bad
          - type: 'null'
          title: Recording Quality
          description: The recording quality of the voice as determined by the review pipeline.
        labelling_status:
          anyOf:
          - type: string
            enum:
            - in_review
            - review_complete
          - type: 'null'
          title: Labelling Status
          description: The review pipeline status of the voice.
        recording_quality_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Recording Quality Reason
          description: The reason for the recording quality assessment, as determined by the review pipeline.
      type: object
      required:
      - voice_id
      - name
      - category
      - labels
      - available_for_tiers
      - high_quality_base_model_ids
      title: VoiceResponseModel
      example:
        available_for_tiers:
        - creator
        - enterprise
        category: professional
        description: A warm, expressive voice with a touch of humor.
        fine_tuning:
          is_allowed_to_fine_tune: true
          manual_verification_requested: false
          state:
            eleven_multilingual_v2: fine_tuned
          verification_attempts_count: 2
          verification_failures: []
        high_quality_base_model_ids:
        - eleven_v2_flash
        - eleven_flash_v2
        - eleven_turbo_v2_5
        - eleven_multilingual_v2
        - eleven_v2_5_flash
        - eleven_flash_v2_5
        - eleven_turbo_v2
        is_legacy: false
        is_mixed: false
        is_owner: false
        labels:
          accent: American
          age: middle-aged
          description: expressive
          gender: female
          use_case: social media
        name: Rachel
        preview_url: https://storage.googleapis.com/eleven-public-prod/premade/voices/9BWtsMINqrJLrRacOk9x/405766b8-1f4e-4d3c-aba1-6f25333823ec.mp3
        settings:
          similarity_boost: 1.0
          speed: 1.0
          stability: 1.0
          style: 0.0
          use_speaker_boost: true
        sharing:
          category: professional
          cloned_by_count: 50
          date_unix: 1714204800
          description: A female voice with a soft and friendly tone.
          disable_at_unix: 1714204800
          enabled_in_library: true
          featured: true
          financial_rewards_enabled: true
          free_users_allowed: true
          history_item_sample_id: DCwhRBWXzGAHq8TQ4Fs18
          labels:
            accent: American
            gender: female
          liked_by_count: 100
          live_moderation_enabled: true
          moderation_check:
            captcha_checks:
            - 0.95
            - 0.98
            captcha_ids:
            - captcha1
            - captcha2
            date_checked_unix: 1714204800
            description_check: true
            description_value: A female voice with a soft and friendly tone.
            name_check: true
            name_value: Rachel
            sample_checks:
            - 0.95
            - 0.98
            sample_ids:
            - sample1
            - sample2
          name: Rachel
          notice_period: 30
          original_voice_id: DCwhRBWXzGAHq8TQ4Fs18
          public_owner_id: DCwhRBWXzGAHq8TQ4Fs18
          rate: 0.05
          reader_app_enabled: true
          reader_restricted_on:
          - resource_id: FCwhRBWXzGAHq8TQ4Fs18
            resource_type: read
          review_status: allowed
          status: enabled
          voice_mixing_allowed: false
          whitelisted_emails:
          - example@example.com
        verified_languages:
        - accent: american
          language: en
          locale: en-US
          model_id: eleven_multilingual_v2
          preview_url: https://storage.googleapis.com/eleven-public-prod/premade/voices/9BWtsMINqrJLrRacOk9x/405766b8-1f4e-4d3c-aba1-6f25333823ec.mp3
        voice_id: 21m00Tcm4TlvDq8ikWAM
        voice_verification:
          is_verified: true
          language: en
          requires_verification: false
          verification_attempts:
          - accepted: true
            date_unix: 1714204800
            levenshtein_distance: 2
            recording:
              mime_type: audio/mpeg
              recording_id: CwhRBWXzGAHq8TQ4Fs17
              size_bytes: 1000000
              transcription: Hello, how are you?
              upload_date_unix: 1714204800
            similarity: 0.95
            text: Hello, how are you?
          verification_attempts_count: 0
          verification_failures: []
    VoiceAccentResponseModel:
      properties:
        accent:
          type: string
          title: Accent
          description: The accent value used for filtering shared voices via the `accent` query parameter on `GET /v1/shared-voices`.
        language:
          type: string
          title: Language
          description: The language code this accent belongs to, e.g. `en`.
        code:
          type: string
          title: Code
          description: The full accent code, e.g. `en-american`.
        name:
          type: string
          title: Name
          description: The human-readable accent name, e.g. `American`.
      type: object
      required:
      - accent
      - language
      - code
      - name
      title: VoiceAccentResponseModel
      example:
        accent: american
        code: en-american
        language: en
        name: American
    ManualVerificationFileResponseModel:
      properties:
        file_id:
          type: string
          title: File Id
          description: The ID of the file.
        file_name:
          type: string
          title: File Name
          description: The name of the file.
        mime_type:
          type: string
          title: Mime Type
          description: The MIME type of the file.
        size_bytes:
          type: integer
          title: Size Bytes
          description: The size of the file in bytes.
        upload_date_unix:
          type: integer
          title: Upload Date Unix
          description: The date of the file in Unix time.
      type: object
      required:
      - file_id
      - file_name
      - mime_type
      - size_bytes
      - upload_date_unix
      title: ManualVerificationFileResponseModel
      example:
        file_id: CwhRBWXzGAHq8TQ4Fs18
        file_name: file.mp3
        mime_type: audio/mpeg
        size_bytes: 1000000
        upload_date_unix: 1714204800
    GetVoicesResponseModel:
      properties:
        voices:
          items:
            $ref: '#/components/schemas/VoiceResponseModel'
          type: array
          title: Voices
          description: A list of available voices.
      type: object
      required:
      - voices
      title: GetVoicesResponseModel
      example:
        voices:
        - available_for_tiers:
          - creator
          - enterprise
          category: professional
          description: A warm, expressive voice with a touch of humor.
          fine_tuning:
            is_allowed_to_fine_tune: true
            manual_verification_requested: false
            state:
              eleven_multilingual_v2: fine_tuned
            verification_attempts_count: 2
            verification_failures: []
          high_quality_base_model_ids:
          - eleven_v2_flash
          - eleven_flash_v2
          - eleven_turbo_v2_5
          - eleven_multilingual_v2
          - eleven_v2_5_flash
          - eleven_flash_v2_5
          - eleven_turbo_v2
          is_legacy: false
          is_mixed: false
          is_owner: false
          labels:
            accent: American
            age: middle-aged
            description: expressive
            gender: female
            use_case: social media
          name: Rachel
          preview_url: https://storage.googleapis.com/eleven-public-prod/premade/voices/9BWtsMINqrJLrRacOk9x/405766b8-1f4e-4d3c-aba1-6f25333823ec.mp3
          settings:
            similarity_boost: 1.0
            speed: 1.0
            stability: 1.0
            style: 0.0
            use_speaker_boost: true
          sharing:
            category: professional
            cloned_by_count: 50
            date_unix: 1714204800
            description: A female voice with a soft and friendly tone.
            disable_at_unix: 1714204800
            enabled_in_library: true
            featured: true
            financial_rewards_enabled: true
            free_users_allowed: true
            history_item_sample_id: DCwhRBWXzGAHq8TQ4Fs18
            labels:
              accent: American
              gender: female
            liked_by_count: 100
            live_moderation_enabled: true
            moderation_check:
              captcha_checks:
              - 0.95
              - 0.98
              captcha_ids:
              - captcha1
              - captcha2
              date_checked_unix: 1714204800
              description_check: true
              description_value: A female voice with a soft and friendly tone.
              name_check: true
              name_value: Rachel
              sample_checks:
              - 0.95
              - 0.98
              sample_ids:
              - sample1
              - sample2
            name: Rachel
            notice_period: 30
            original_voice_id: DCwhRBWXzGAHq8TQ4Fs18
            public_owner_id: DCwhRBWXzGAHq8TQ4Fs18
            rate: 0.05
            reader_app_enabled: true
            reader_restricted_on:
            - resource_id: FCwhRBWXzGAHq8TQ4Fs18
              resource_type: read
            review_status: allowed
            status: enabled
            voice_mixing_allowed: false
            whitelisted_emails:
            - example@example.com
          verified_languages:
          - accent: american
            language: en
            locale: en-US
            model_id: eleven_multilingual_v2
            preview_url: https://storage.googleapis.com/eleven-public-prod/premade/voices/9BWtsMINqrJLrRacOk9x/405766b8-1f4e-4d3c-aba1-6f25333823ec.mp3
          voice_id: 21m00Tcm4TlvDq8ikWAM
          voice_verification:
            is_verified: true
            language: en
            requires_verification: false
            verification_attempts:
            - accepted: true
              date_unix: 1714204800
              levenshtein_distance: 2
              recording:
                mime_type: audio/mpeg
                recording_id: CwhRBWXzGAHq8TQ4Fs17
                size_bytes: 1000000
                transcription: Hello, how are you?
                upload_date_unix: 1714204800
              similarity: 0.95
              text: Hello, how are you?
            verification_attempts_count: 0
            verification_failures: []
    AddVoiceIVCResponseModel:
      properties:
        voice_id:
          type: string
          title: Voice Id
          description: The ID of the newly created voice.
        requires_verification:
          type: boolean
          title: Requires Verification
          description: Whether the voice requires verification
      type: object
      required:
      - voice_id
      - requires_verification
      title: AddVoiceIVCResponseModel
      example:
        requires_verification: false
        voice_id: c38kUX8pkfYO2kHyqfFy
    VoiceVerificationResponseModel:
      properties:
        requires_verification:
          type: boolean
          title: Requires Verification
          description: Whether the voice requires verification.
        is_verified:
          type: boolean
          title: Is Verified
          description: Whether the voice has been verified.
        verification_failures:
          items:
            type: string
          type: array
          title: Verification Failures
          description: List of verification failures.
        verification_attempts_count:
          type: integer
          title: Verification Attempts Count
          description: The number of verification attempts.
        language:
          anyOf:
          - type: string
          - type: 'null'
          title: Language
          description: The language of the voice.
        verification_attempts:
          anyOf:
          - items:
              $ref: '#/components/schemas/VerificationAttemptResponseModel'
            type: array
          - type: 'null'
          title: Verification Attempts
          description: Number of times a verification was attempted.
      type: object
      required:
      - requires_verification
      - is_verified
      - verification_failures
      - verification_attempts_count
      title: VoiceVerificationResponseModel
      example:
        is_verified: true
        language: en
        requires_verification: false
        verification_attempts:
        - accepted: true
          date_unix: 1714204800
          levenshtein_distance: 2
          recording:
            mime_type: audio/mpeg
            recording_id: CwhRBWXzGAHq8TQ4Fs17
            size_bytes: 1000000
            transcription: Hello, how are you?
            upload_date_unix: 1714204800
          similarity: 0.95
          text: Hello, how are you?
        verification_attempts_count: 0
        verification_failures: []
    Body_Add_shared_voice_v1_voices_add__public_user_id___voice_id__post:
      properties:
        new_name:
          type: string
          title: New Name
          description: The name that identifies this voice. This will be displayed in the dropdown of the website.
          examples:
          - John Smith
        bookmarked:
          type: boolean
          title: Bookmarked
          default: true
      type: object
      required:
      - new_name
      title: Body_Add_shared_voice_v1_voices_add__public_user_id___voice_id__post
    SampleResponseModel:
      properties:
        sample_id:
          type: string
          title: Sample Id
          description: The ID of the sample.
        file_name:
          type: string
          title: File Name
          description: The name of the sample file.
        mime_type:
          type: string
          title: Mime Type
          description: The MIME type of the sample file.
        size_bytes:
          type: integer
          title: Size Bytes
          description: The size of the sample file in bytes.
        hash:
          type: string
          title: Hash
          description: The hash of the sample file.
        duration_secs:
          anyOf:
          - type: number
          - type: 'null'
          title: Duration Secs
        remove_background_noise:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Remove Background Noise
        has_isolated_audio:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Has Isolated Audio
        has_isolated_audio_preview:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Has Isolated Audio Preview
        speaker_separation:
          anyOf:
          - $ref: '#/components/schemas/SpeakerSeparationResponseModel'
          - type: 'null'
        trim_start:
          anyOf:
          - type: integer
          - type: 'null'
          title: Trim Start
        trim_end:
          anyOf:
          - type: integer
          - type: 'null'
          title: Trim End
      type: object
      required:
      - sample_id
      - file_name
      - mime_type
      - size_bytes
      - hash
      title: SampleResponseModel
      example:
        file_name: sample.mp3
        hash: '1234567890'
        mime_type: audio/mpeg
        sample_id: DCwhRBWXzGAHq8TQ4Fs18
        size_bytes: 1000000
    GetLibraryVoicesResponseModel:
      properties:
        voices:
          items:
            $ref: '#/components/schemas/LibraryVoiceResponseModel'
          type: array
          title: Voices
          description: The list of shared voices
        has_more:
          type: boolean
          title: Has More
          description: Whether there are more shared voices in subsequent pages.
        total_count:
          type: integer
          title: Total Count
          description: The total number of shared voices matching the query.
          default: 0
        last_sort_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Sort Id
      type: object
      required:
      - voices
      - has_more
      title: GetLibraryVoicesResponseModel
      example:
        has_more: false
        total_count: 0
        voices:
        - accent: american
          age: young
          category: professional
          cloned_by_count: 11
          date_unix: 1714423232
          description: Perfectly calm, neutral and strong voice. Great for a young female protagonist.
          descriptive: calm
          featured: false
          free_users_allowed: true
          gender: Female
          language: en
          live_moderation_enabled: false
          name: Alita
          play_api_usage_character_count_1y: 12852
          preview_url: https://storage.googleapis.com/eleven-public-prod/wqkMCd9huxXHX1dy5mLJn4QEQHj1/voices/sB1b5zUrxQVAFl2PhZFp/55e71aac-5cb7-4b3d-8241-429388160509.mp3
          public_owner_id: 63e84100a6bf7874ba37a1bab9a31828a379ec94b891b401653b655c5110880f
          rate: 1
          usage_character_count_1y: 12852
          usage_character_count_7d: 12852
          use_case: characters_animation
          verified_languages:
          - accent: american
            language: en
            locale: en-US
            model_id: eleven_multilingual_v2
            preview_url: https://storage.googleapis.com/eleven-public-prod/wqkMCd9huxXHX1dy5mLJn4QEQHj1/voices/sB1b5zUrxQVAFl2PhZFp/55e71aac-5cb7-4b3d-8241-429388160509.mp3
          voice_id: sB1b5zUrxQVAFl2PhZFp
    GetVoiceAccentsResponseModel:
      properties:
        accents:
          items:
            $ref: '#/components/schemas/VoiceAccentResponseModel'
          type: array
          title: Accents
          description: A list of available voice accents.
      type: object
      required:
      - accents
      title: GetVoiceAccentsResponseModel
      example:
        accents:
        - accent: american
          code: en-american
          language: en
          name: American
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Body_Add_voice_v1_voices_add_post:
      properties:
        name:
          type: string
          title: Name
          description: The name that identifies this voice. This will be displayed in the dropdown of the website.
          examples:
          - John Smith
        files:
          items:
            type: string
            format: binary
          type: array
          title: Files
          description: A list of file paths to audio recordings intended for voice cloning.
        remove_background_noise:
          type: boolean
          title: Remove Background Noise
          description: If set will remove background noise for voice samples using our audio isolation model. If the samples do not include background noise, it can make the quality worse.
          default: false
          examples:
          - true
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: A description of the voice.
          examples:
          - An old American male voice with a slight hoarseness in his throat. Perfect for news.
        labels:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: string
          - type: 'null'
          title: Labels
          description: Labels for the voice. Keys can be language, accent, gender, or age.
          examples:
          - '{"language": "en", "accent": "en-US", "gender": "male", "age": "middle-aged"}'
      type: object
      required:
      - name
      - files
      title: Body_Add_voice_v1_voices_add_post
    AddVoiceResponseModel:
      properties:
        voice_id:
          type: string
          title: Voice Id
          description: The ID of the voice.
      type: object
      required:
      - voice_id
      title: AddVoiceResponseModel
      example:
        voice_id: b38kUX8pkfYO2kHyqfFy
    VerifiedVoiceLanguageResponseModel:
      properties:
        language:
          type: string
          title: Language
          description: The language of the voice.
        model_id:
          type: string
          title: Model Id
          description: The voice's model ID.
        accent:
          anyOf:
          - type: string
          - type: 'null'
          title: Accent
          description: The voice's accent, if applicable.
        locale:
          anyOf:
          - type: string
          - type: 'null'
          title: Locale
          description: The voice's locale, if applicable.
        preview_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Preview Url
          description: The voice's preview URL, if applicable.
      type: object
      required:
      - language
      - model_id
      title: VerifiedVoiceLanguageResponseModel
      example:
        accent: American
        language: en
        model_id: eleven_turbo_v2_5
    VerificationAttemptResponseModel:
      properties:
        text:
          type: string
          title: Text
          description: The text of the verification attempt.
        date_unix:
          type: integer
          title: Date Unix
          description: The date of the verification attempt in Unix time.
        accepted:
          type: boolean
          title: Accepted
          description: Whether the verification attempt was accepted.
        similarity:
          type: number
          title: Similarity
          description: The similarity of the verification attempt.
        levenshtein_distance:
          type: number
          title: Levenshtein Distance
          description: The Levenshtein distance of the verification attempt.
        recording:
          anyOf:
          - $ref: '#/components/schemas/RecordingResponseModel'
          - type: 'null'
          description: The recording of the verification attempt.
      type: object
      required:
      - text
      - date_unix
      - accepted
      - similarity
      - levenshtein_distance
      title: VerificationAttemptResponseModel
      example:
        accepted: true
        date_unix: 1714204800
        levenshtein_distance: 2
        recording:
          mime_type: audio/mpeg
          recording_id: CwhRBWXzGAHq8TQ4Fs17
          size_bytes: 1000000
          transcription: Hello, how are you?
          upload_date_unix: 1714204800
        similarity: 0.95
        text: Hello, how are you?
    RecordingResponseModel:
      properties:
        recording_id:
          type: string
          title: Recording Id
          description: The ID of the recording.
        mime_type:
          type: string
          title: Mime Type
          description: The MIME type of the recording.
        size_bytes:
          type: integer
          title: Size Bytes
          description: The size of the recording in bytes.
        upload_date_unix:
          type: integer
          title: Upload Date Unix
          description: The date of the recording in Unix time.
        transcription:
          type: string
          title: Transcription
          description: The transcription of the recording.
      type: object
      required:
      - recording_id
      - mime_type
      - size_bytes
      - upload_date_unix
      - transcription
      title: RecordingResponseModel
      example:
        mime_type: audio/mpeg
        recording_id: CwhRBWXzGAHq8TQ4Fs17
        size_bytes: 1000000
        transcription: Hello, how are you?
        upload_date_unix: 1714204800
    SpeakerResponseModel:
      properties:
        speaker_id:
          type: string
          title: Speaker Id
          description: The ID of the speaker.
        duration_secs:
          type: number
          title: Duration Secs
          description: The duration of the speaker segment in seconds.
        utterances:
          anyOf:
          - items:
              $ref: '#/components/schemas/UtteranceResponseModel'
            type: array
          - type: 'null'
          title: Utterances
          description: The utterances of the speaker.
      type: object
      required:
      - speaker_id
      - duration_secs
      title: SpeakerResponseModel
      example:
        duration_secs: 5.0
        speaker_id: DCwhRBWXzGAHq8TQ4Fs18
    VoiceSharingResponseModel:
      properties:
        status:
          type: string
          enum:
          - enabled
          - disabled
          - copied
          - copied_disabled
          title: Status
          description: The status of the voice sharing.
        history_item_sample_id:
          anyOf:
          - type: string
          - type: 'null'
          title: History Item Sample Id
          description: The sample ID of the history item.
        date_unix:
          type: integer
          title: Date Unix
          description: The date of the voice sharing in Unix time.
        whitelisted_emails:
          items:
            type: string
          type: array
          title: Whitelisted Emails
          description: A list of whitelisted emails.
        public_owner_id:
          type: string
          title: Public Owner Id
          description: The ID of the public owner.
        original_voice_id:
          type: string
          title: Original Voice Id
          description: The ID of the original voice.
        financial_rewards_enabled:
          type: boolean
          title: Financial Rewards Enabled
          description: Whether financial rewards are enabled.
        free_users_allowed:
          type: boolean
          title: Free Users Allowed
          description: Whether free users are allowed.
        live_moderation_enabled:
          type: boolean
          title: Live Moderation Enabled
          description: Whether live moderation is enabled.
        rate:
          anyOf:
          - type: number
          - type: 'null'
          title: Rate
          description: The rate of the voice sharing.
        fiat_rate:
          anyOf:
          - type: number
          - type: 'null'
          title: Fiat Rate
          description: The rate of the voice sharing in USD per 1000 credits.
        notice_period:
          type: integer
          title: Notice Period
          description: The notice period of the voice sharing.
        disable_at_unix:
          anyOf:
          - type: integer
          - type: 'null'
          title: Disable At Unix
          description: The date of the voice sharing in Unix time.
        voice_mixing_allowed:
          type: boolean
          title: Voice Mixing Allowed
          description: Whether voice mixing is allowed.
        featured:
          type: boolean
          title: Featured
          description: Whether the voice is featured.
        category:
          type: string
          enum:
          - generated
          - cloned
          - premade
          - professional
          - famous
          - high_quality
          title: Category
          description: The category of the voice.
        reader_app_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Reader App Enabled
          description: Whether the reader app is enabled.
        image_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Image Url
          description: The image URL of the voice.
        ban_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Ban Reason
          description: The ban reason of the voice.
        liked_by_count:
          type: integer
          title: Liked By Count
          description: The number of likes on the voice.
        cloned_by_count:
          type: integer
          title: Cloned By Count
          description: The number of clones on the voice.
        name:
          type: string
          title: Name
          description: The name of the voice.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the voice.
        labels:
          additionalProperties:
            type: string
          type: object
          title: Labels
          description: The labels of the voice.
        review_status:
          type: string
          enum:
          - not_requested
          - pending
          - declined
          - allowed
          - allowed_with_changes
          title: Review Status
          description: The review status of the voice.
        review_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Review Message
          description: The review message of the voice.
        enabled_in_library:
          type: boolean
          title: Enabled In Library
          description: Whether the voice is enabled in the library.
        instagram_username:
          anyOf:
          - type: string
          - type: 'null'
          title: Instagram Username
          description: The Instagram username of the voice.
        twitter_username:
          anyOf:
          - type: string
          - type: 'null'
          title: Twitter Username
          description: The Twitter/X username of the voice.
        youtube_username:
          anyOf:
          - type: string
          - type: 'null'
          title: Youtube Username
          description: The YouTube username of the voice.
        tiktok_username:
          anyOf:
          - type: string
          - type: 'null'
          title: Tiktok Username
          description: The TikTok username of the voice.
        moderation_check:
          anyOf:
          - $ref: '#/components/schemas/VoiceSharingModerationCheckResponseModel'
          - type: 'null'
          description: The moderation check of the voice.
        reader_restricted_on:
          anyOf:
          - items:
              $ref: '#/components/schemas/ReaderResourceResponseModel'
            type: array
          - type: 'null'
          title: Reader Restricted On
          description: The reader restricted on of the voice.
      type: object
      required:
      - status
      - date_unix
      - whitelisted_emails
      - public_owner_id
      - original_voice_id
      - financial_rewards_enabled
      - free_users_allowed
      - live_moderation_enabled
      - notice_period
      - voice_mixing_allowed
      - featured
      - category
      - liked_by_count
      - cloned_by_count
      - name
      - labels
      - review_status
      - enabled_in_library
      title: VoiceSharingResponseModel
      example:
        category: professional
        cloned_by_count: 50
        date_unix: 1714204800
        description: A female voice with a soft and friendly tone.
        disable_at_unix: 1714204800
        enabled_in_library: true
        featured: true
        financial_rewards_enabled: true
        free_users_allowed: true
        history_item_sample_id: DCwhRBWXzGAHq8TQ4Fs18
        labels:
          accent: American
          gender: female
        liked_by_count: 100
        live_moderation_enabled: true
        moderation_check:
          captcha_checks:
          - 0.95
          - 0.98
          captcha_ids:
          - captcha1
          - captcha2
          date_checked_unix: 1714204800
          description_check: true
          description_value: A female voice with a soft and friendly tone.
          name_check: true
          name_value: Rachel
          sample_checks:
          - 0.95
          - 0.98
          sample_ids:
          - sample1
          - sample2
        name: Rachel
        notice_period: 30
        original_voice_id: DCwhRBWXzGAHq8TQ4Fs18
        public_owner_id: DCwhRBWXzGAHq8TQ4Fs18
        rate: 0.05
        reader_app_enabled: true
        reader_restricted_on:
        - resource_id: FCwhRBWXzGAHq8TQ4Fs18
          resource_type: read
        review_status: allowed
        status: enabled
        voice_mixing_allowed: false
        whitelisted_emails:
        - example@example.com
    FineTuningResponseModel:
      properties:
        is_allowed_to_fine_tune:
          type: boolean
          title: Is Allowed To Fine Tune
          description: Whether the user is allowed to fine-tune the voice.
        state:
          additionalProperties:
            type: string
            enum:
            - not_started
            - queued
            - fine_tuning
            - fine_tuned
            - failed
            - delayed
          type: object
          title: State
          description: The state of the fine-tuning process for each model.
        verification_failures:
          items:
            type: string
          type: array
          title: Verification Failures
          description: List of verification failures in the fine-tuning process.
        verification_attempts_count:
          type: integer
          title: Verification Attempts Count
          description: The number of verification attempts in the fine-tuning process.
        manual_verification_requested:
          type: boolean
          title: Manual Verification Requested
          description: Whether a manual verification was requested for the fine-tuning process.
        language:
          anyOf:
          - type: string
          - type: 'null'
          title: Language
          description: The language of the fine-tuning process.
        progress:
          anyOf:
          - additionalProperties:
              type: number
            type: object
          - type: 'null'
          title: Progress
          description: The progress of the fine-tuning process.
        message:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Message
          description: The message of the fine-tuning process.
        dataset_duration_seconds:
          anyOf:
          - type: number
          - type: 'null'
          title: Dataset Duration Seconds
          description: The duration of the dataset in seconds.
        verification_attempts:
          anyOf:
          - items:
              $ref: '#/components/schemas/VerificationAttemptResponseModel'
            type: array
          - type: 'null'
          title: Verification Attempts
          description: The number of verification attempts.
        slice_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Slice Ids
          description: List of slice IDs.
        manual_verification:
          anyOf:
          - $ref: '#/components/schemas/ManualVerificationResponseModel'
          - type: 'null'
          description: The manual verification of the fine-tuning process.
        max_verification_attempts:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Verification Attempts
          description: The maximum number of verification attempts.
        next_max_verification_attempts_reset_unix_ms:
          anyOf:
          - type: integer
          - type: 'null'
          title: Next Max Verification Attempts Reset Unix Ms
          description: The next maximum verification attempts reset time in Unix milliseconds.
      type: object
      required:
      - is_allowed_to_fine_tune
      - state
      - verification_failures
      - verification_attempts_count
      - manual_verification_requested
      title: FineTuningResponseModel
      example:
        is_allowed_to_fine_tune: true
        manual_verification_requested: false
        state:
          eleven_multilingual_v2: fine_tuned
        verification_attempts_count: 2
        verification_failures: []
    ReplicateVoiceToIsolatedEnvironmentRequestModel:
      properties:
        target_workspace_id:
          type: string
          title: Target Workspace Id
          description: ID of the workspace to replicate the voice into. It must belong to the same consolidated billing group as the calling workspace; the target's data residency is derived from that link.
        preserve_voice_id:
          type: boolean
          title: Preserve Voice Id
          description: When true (default) the replicated voice keeps the same voice ID in the target residency; set to false to assign a new voice ID.
          default: true
      type: object
      required:
      - target_workspace_id
      title: ReplicateVoiceToIsolatedEnvironmentRequestModel
    ReplicateVoiceToIsolatedEnvironmentResponseModel:
      properties:
        voice_id:
          type: string
          title: Voice Id
          description: Voice ID of the replicated voice in the target residency.
      type: object
      required:
      - voice_id
      title: ReplicateVoiceToIsolatedEnvironmentResponseModel
      example:
        voice_id: 21m00Tcm4TlvDq8ikWAM
    GetVoicesV2ResponseModel:
      properties:
        voices:
          items:
            $ref: '#/components/schemas/VoiceResponseModel'
          type: array
          title: Voices
          description: The list of voices matching the query.
        has_more:
          type: boolean
          title: Has More
          description: Indicates whether there are more voices available in subsequent pages. Use this flag (and next_page_token) for reliable pagination instead of relying on total_count.
        total_count:
          type: integer
          title: Total Count
          description: The total count of voices matching the query. This value is a live snapshot that reflects the current state of the database and may change between requests as users create, modify, or delete voices. For reliable pagination, use the has_more flag instead of relying on this value. Only request this field when you actually need the total count (e.g., for display purposes), as calculating it incurs a performance cost.
        next_page_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Page Token
          description: Token to retrieve the next page of results. Pass this value to the next request to continue pagination. Null if there are no more results.
      type: object
      required:
      - voices
      - has_more
      - total_count
      title: GetVoicesV2ResponseModel
    DeleteVoiceResponseModel:
      properties:
        status:
          type: string
          title: Status
          description: The status of the voice deletion request. If the request was successful, the status will be 'ok'. Otherwise an error message with status 500 will be returned.
      type: object
      required:
      - status
      title: DeleteVoiceResponseModel
      example:
        status: ok
    ReaderResourceResponseModel:
      properties:
        resource_type:
          type: string
          enum:
          - read
          - collection
          title: Resource Type
          description: The type of resource.
        resource_id:
          type: string
          title: Resource Id
          description: The ID of the resource.
      type: object
      required:
      - resource_type
      - resource_id
      title: ReaderResourceResponseModel
      example:
        resource_id: FCwhRBWXzGAHq8TQ4Fs18
        resource_type: read
    ManualVerificationResponseModel:
      properties:
        extra_text:
          type: string
          title: Extra Text
          description: The extra text of the manual verification.
        request_time_unix:
          type: integer
          title: Request Time Unix
          description: The date of the manual verification in Unix time.
        files:
          items:
            $ref: '#/components/schemas/ManualVerificationFileResponseModel'
          type: array
          title: Files
          description: The files of the manual verification.
      type: object
      required:
      - extra_text
      - request_time_unix
      - files
      title: ManualVerificationResponseModel
      example:
        extra_text: Please verify the voice is that of a female.
        files:
        - file_id: CwhRBWXzGAHq8TQ4Fs18
          file_name: file.mp3
          mime_type: audio/mpeg
          size_bytes: 1000000
          upload_date_unix: 1714204800
        request_time_unix: 1714204800
    Body_Get_similar_library_voices_v1_similar_voices_post:
      properties:
        audio_file:
          type: string
          title: Audio File
          format: binary
        similarity_threshold:
          anyOf:
          - type: number
          - type: 'null'
          title: Similarity Threshold
          description: Threshold for voice similarity between provided sample and library voices. Values range from 0 to 2. The smaller the value the more similar voices will be returned.
          examples:
          - 0.5
        top_k:
          anyOf:
          - type: integer
          - type: 'null'
          title: Top K
          description: Number of most similar voices to return. If similarity_threshold is provided, less than this number of voices may be returned. Values range from 1 to 100.
          examples:
          - 10
      type: object
      title: Body_Get_similar_library_voices_v1_similar_voices_post
    VoiceSharingModerationCheckResponseModel:
      properties:
        date_checked_unix:
          anyOf:
          - type: integer
          - type: 'null'
          title: Date Checked Unix
          description: The date the moderation check was made in Unix time.
        name_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Name Value
          description: The name value of the voice.
        name_check:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Name Check
          description: Whether the name check was successful.
        description_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Description Value
          description: The description value of the voice.
        description_check:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Description Check
          description: Whether the description check was successful.
        sample_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Sample Ids
          description: A list of sample IDs.
        sample_checks:
          anyOf:
          - items:
              type: number
            type: array
          - type: 'null'
          title: Sample Checks
          description: A list of sample checks.
        captcha_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Captcha Ids
          description: A list of captcha IDs.
        captcha_checks:
          anyOf:
          - items:
              type: number
            type: array
          - type: 'null'
          title: Captcha Checks
          description: A list of CAPTCHA check values.
      type: object
      title: VoiceSharingModerationCheckResponseModel
      example:
        captcha_checks:
        - 0.95
        - 0.98
        captcha_ids:
        - captcha1
        - captcha2
        date_checked_unix: 1714204800
        description_check: true
        description_value: A female voice with a soft and friendly tone.
        name_check: true
        name_value: Rachel
        sample_checks:
        - 0.95
        - 0.98
        sample_ids:
        - sample1
        - sample2
    SpeakerSeparationResponseModel:
      properties:
        voice_id:
          type: string
          title: Voice Id
          description: The ID of the voice.
        sample_id:
          type: string
          title: Sample Id
          description: The ID of the sample.
        status:
          type: string
          enum:
          - not_started
          - pending
          - completed
          - failed
          title: Status
          description: The status of the speaker separation.
        speakers:
          anyOf:
          - additionalProperties:
[...]
