openapi: 3.2.0
info:
  title: ElevenLabs Studio Pronunciation Dictionaries API
  description: The ElevenLabs Studio API provides programmatic access to the ElevenLabs Studio project management system. Developers can create, manage, and render long-form audio content projects through the API, organizing text into chapters and assigning different voices to different sections. The Studio is designed for producing audiobooks, podcasts, and other long-form audio content at scale.
  version: '1.0'
  contact:
    name: ElevenLabs Support
    url: https://help.elevenlabs.io
  termsOfService: https://elevenlabs.io/terms-of-service
servers:
- url: https://api.elevenlabs.io
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Pronunciation Dictionaries
  description: Endpoints for managing pronunciation dictionaries used in Studio projects.
paths:
  /v1/studio/projects/{project_id}/pronunciation-dictionaries:
    post:
      operationId: createProjectPronunciationDictionaries
      summary: Create pronunciation dictionaries
      description: Associates pronunciation dictionaries with a Studio project for consistent pronunciation across all chapters.
      tags:
      - Pronunciation Dictionaries
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPronunciationRequest'
      responses:
        '200':
          description: Pronunciation dictionaries associated successfully
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Project not found
components:
  schemas:
    ProjectPronunciationRequest:
      type: object
      required:
      - pronunciation_dictionary_locators
      properties:
        pronunciation_dictionary_locators:
          type: array
          description: List of pronunciation dictionary locators to apply.
          items:
            type: object
            required:
            - pronunciation_dictionary_id
            - version_id
            properties:
              pronunciation_dictionary_id:
                type: string
                description: The pronunciation dictionary identifier.
              version_id:
                type: string
                description: The pronunciation dictionary version identifier.
  parameters:
    projectId:
      name: project_id
      in: path
      required: true
      description: The unique identifier of the Studio project.
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: xi-api-key
      description: ElevenLabs API key passed in the xi-api-key header for authentication.
externalDocs:
  description: ElevenLabs Studio Documentation
  url: https://elevenlabs.io/docs/overview/capabilities/projects
