openapi: 3.2.0
info:
  title: Elevenlabs Dubbing API
  version: '1.0'
  description: 'Operations tagged Dubbing across 2 of this provider''s published API definitions: elevenlabs-dubbing-openapi.yml, elevenlabs-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elevenlabs.io
  description: Production Server
tags:
- name: Dubbing
  description: Endpoints for creating, managing, and retrieving dubbed audio and video content across languages.
paths:
  /v1/dubbing:
    post:
      operationId: createDubbing
      summary: Dub a video or audio file
      description: Creates a new dubbing project from an uploaded audio or video file or a source URL. The dubbing process transcribes, translates, and re-synthesizes the audio content in the target language while preserving the original speakers' voice characteristics.
      tags:
      - Dubbing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateDubbingRequest'
      responses:
        '200':
          description: Dubbing project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingResponse'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '422':
          description: Unprocessable entity - unsupported file format
      security:
      - apiKeyAuth: []
    get:
      tags:
      - Dubbing
      summary: List Dubs
      description: List the dubs you have access to.
      operationId: list_dubs
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Used for fetching next page. Cursor is returned in the response.
          title: Cursor
        description: Used for fetching next page. Cursor is returned in the response.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: How many dubs to return at maximum. Can not exceed 200, defaults to 100.
          default: 100
          title: Page Size
        description: How many dubs to return at maximum. Can not exceed 200, defaults to 100.
      - name: dubbing_status
        in: query
        required: false
        schema:
          enum:
          - dubbing
          - dubbed
          - failed
          type: string
          description: What state the dub is currently in.
          embed: true
          title: Dubbing Status
        description: What state the dub is currently in.
      - name: dubbing_statuses
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              enum:
              - queued
              - preparing
              - dubbing
              - dubbed
              - failed
              type: string
          - type: 'null'
          description: Filter by dubbing status.
          title: Dubbing Statuses
        description: Filter by dubbing status.
      - name: dubbing_models
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              enum:
              - dubbing_v1
              - dubbing_v2
              type: string
          - type: 'null'
          description: Filter by dubbing model generation.
          title: Dubbing Models
        description: Filter by dubbing model generation.
      - name: target_language_codes
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Filter by target language code.
          title: Target Language Codes
        description: Filter by target language code.
      - name: creation_sources
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              enum:
              - flow_node
              - dubbing_ui
              - dubbing_api
              type: string
          - type: 'null'
          description: Filter by dubbing creation source.
          title: Creation Sources
        description: Filter by dubbing creation source.
      - name: filter_by_creator
        in: query
        required: false
        schema:
          enum:
          - personal
          - others
          - all
          type: string
          description: Filters who created the resources being listed, whether it was the user running the request or someone else that shared the resource with them.
          examples:
          - all
          default: all
          title: Filter By Creator
        description: Filters who created the resources being listed, whether it was the user running the request or someone else that shared the resource with them.
      - name: order_by
        in: query
        required: false
        schema:
          enum:
          - created_at
          - name
          type: string
          description: The field to use for ordering results from this query.
          default: created_at
          title: Order By
        description: The field to use for ordering results from this query.
      - name: order_direction
        in: query
        required: false
        schema:
          enum:
          - DESCENDING
          - ASCENDING
          type: string
          description: The order direction to use for results from this query.
          default: DESCENDING
          title: Order Direction
        description: The order direction to use for results from this query.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingMetadataPageResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: dubbing
      x-fern-sdk-method-name: list
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.elevenlabs.io
      description: Production Server
  /v1/dubbing/{dubbing_id}:
    get:
      operationId: getDubbing
      summary: Get dubbing metadata
      description: Returns metadata and status information about a dubbing project, including the current processing state and available languages.
      tags:
      - Dubbing
      parameters:
      - $ref: '#/components/parameters/dubbingId'
      responses:
        '200':
          description: Dubbing metadata retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingMetadata'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Dubbing project not found
      security:
      - apiKeyAuth: []
    delete:
      operationId: deleteDubbing
      summary: Delete dubbing
      description: Deletes a dubbing project and all associated resources. This action is irreversible.
      tags:
      - Dubbing
      parameters:
      - $ref: '#/components/parameters/dubbingId'
      responses:
        '200':
          description: Dubbing project deleted successfully
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Dubbing project not found
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.elevenlabs.io
      description: Production Server
  /v1/dubbing/project:
    post:
      tags:
      - Dubbing
      summary: Create Dubbing Project
      description: 'Create a dubbing project from an uploaded file (`file`) or a source URL (`source_url`).


        Returns as soon as the project record exists, before the source has been fetched: the project starts `queued` and reaches `ready` once its source has been transcribed. Add a language target to it for each language you want, or pass `target_language` to queue the first one here.


        Creating a project incurs a minimum charge of one language: you are charged for at least one language''s dubbing when the project is created, before any output exists. This charge prepays the first language target — the first target you add, or the one queued via `target_language`, consumes it — and each additional language is charged separately.


        Preparation can take minutes on a long source, so we recommend passing `webhook_ids` to be notified when the project turns `ready` or `failed`, rather than polling for it.'
      operationId: dubbing_project_create
      parameters:
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Create_Dubbing_Project_v1_dubbing_project_post'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingProjectResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      x-fern-sdk-method-name: create
      x-fern-examples:
      - request:
          source_url: https://example.com/promo.mp4
          source_language: en
          reference: Q3 marketing video
        response:
          body:
            project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
            status: queued
            reference: Q3 marketing video
            source_language: en
            model_id: dubbing_v2
            language_ids: []
            webhook_ids: []
            revision: 0
            warnings: []
            created_at: '2026-07-03T10:15:30Z'
            updated_at: '2026-07-03T10:15:30Z'
    get:
      tags:
      - Dubbing
      summary: List Dubbing Projects
      description: List the dubbing projects in your workspace that you can access, newest first, cursor-paginated. Listed projects carry no `language_ids`; fetch a project, or list its language targets, to see them.
      operationId: dubbing_project_list
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pass the `next_cursor` from a previous response to fetch the page after it. Omit for the first page.
          title: Cursor
        description: Pass the `next_cursor` from a previous response to fetch the page after it. Omit for the first page.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          description: Number of projects per page. Clamped to between 1 and 100 rather than rejected, so a larger value returns a full page.
          default: 20
          title: Page Size
        description: Number of projects per page. Clamped to between 1 and 100 rather than rejected, so a larger value returns a full page.
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter to projects in this status: `queued`, `preparing`, `ready`, or `failed`. Omit to return every status.'
          title: Status
        description: 'Filter to projects in this status: `queued`, `preparing`, `ready`, or `failed`. Omit to return every status.'
      - name: sort_direction
        in: query
        required: false
        schema:
          enum:
          - ASCENDING
          - DESCENDING
          type: string
          description: Sort by creation time; newest first by default.
          default: DESCENDING
          title: Sort Direction
        description: Sort by creation time; newest first by default.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingProjectListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      x-fern-sdk-method-name: list
      x-fern-examples:
      - query-parameters:
          page_size: 20
        response:
          body:
            projects:
            - project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
              status: ready
              reference: Q3 marketing video
              source_language: en
              model_id: dubbing_v2
              media:
                filename: promo.mp4
                duration_s: 42.5
                has_video: true
                mime_type: video/mp4
              language_ids:
              - lang_1001kwkyxp0je6ktn4knsfrasx5s
              webhook_ids: []
              revision: 3
              warnings:
              - type: voices_not_permitted
                speaker_ids:
                - speaker_1
                message: Voice cloning was not permitted for speaker speaker_1, so a replacement voice was used.
              created_at: '2026-07-03T10:15:30Z'
              updated_at: '2026-07-03T10:17:12Z'
  /v1/dubbing/project/{project_id}:
    get:
      tags:
      - Dubbing
      summary: Get Dubbing Project
      description: Full project detail, including the IDs of every language target under it. To follow a project to `ready`, we recommend a `webhook_ids` subscription rather than polling this endpoint.
      operationId: dubbing_project_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project to fetch.
          title: Project Id
        description: Identifier of the dubbing project to fetch.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingProjectResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      x-fern-sdk-method-name: get
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
        response:
          body:
            project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
            status: ready
            reference: Q3 marketing video
            source_language: en
            model_id: dubbing_v2
            media:
              filename: promo.mp4
              duration_s: 42.5
              has_video: true
              mime_type: video/mp4
            language_ids:
            - lang_1001kwkyxp0je6ktn4knsfrasx5s
            webhook_ids: []
            revision: 3
            warnings:
            - type: voices_not_permitted
              speaker_ids:
              - speaker_1
              message: Voice cloning was not permitted for speaker speaker_1, so a replacement voice was used.
            created_at: '2026-07-03T10:15:30Z'
            updated_at: '2026-07-03T10:17:12Z'
    delete:
      tags:
      - Dubbing
      summary: Delete Dubbing Project
      description: Delete a project, every language target under it, and their stored media and outputs. This cannot be undone, and a dub already running is still billed.
      operationId: dubbing_project_delete
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project to delete.
          title: Project Id
        description: Identifier of the dubbing project to delete.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      x-fern-sdk-method-name: delete
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
  /v1/dubbing/project/{project_id}/language:
    post:
      tags:
      - Dubbing
      summary: Create Dubbing Language Target
      description: 'Add a language to dub a project into, and queue the dub.


        This is the call that produces dubbed audio, and it is billed per generation. The target is created `queued` and starts as soon as the project is `ready`, so it can be added at any point after the project is created. It inherits the project''s dubbing model and cannot pick another.


        A project created with `webhook_ids` sends a `dubbing_language_completed` event carrying the output download URLs, so we recommend subscribing rather than polling this target to completion.'
      operationId: dubbing_language_create
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the parent dubbing project.
          title: Project Id
        description: Identifier of the parent dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Create_Dubbing_Language_Target_v1_dubbing_project__project_id__language_post'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingLanguageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - language
      x-fern-sdk-method-name: create
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
        request:
          target_language: es
        response:
          body:
            language_id: lang_1001kwkyxp0je6ktn4knsfrasx5s
            project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
            target_language: es
            status: queued
            model_id: dubbing_v2
            revision: 0
            warnings: []
            created_at: '2026-07-03T10:16:00Z'
            updated_at: '2026-07-03T10:16:00Z'
    get:
      tags:
      - Dubbing
      summary: List Dubbing Language Targets
      description: List a project's language targets, cursor-paginated, each with signed output URLs once it has produced an output.
      operationId: dubbing_language_list
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the parent dubbing project.
          title: Project Id
        description: Identifier of the parent dubbing project.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pass the `next_cursor` from a previous response to fetch the page after it. Omit for the first page.
          title: Cursor
        description: Pass the `next_cursor` from a previous response to fetch the page after it. Omit for the first page.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          description: Number of language targets per page. Clamped to between 1 and 100 rather than rejected, so a larger value returns a full page.
          default: 20
          title: Page Size
        description: Number of language targets per page. Clamped to between 1 and 100 rather than rejected, so a larger value returns a full page.
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter to targets in this status: `queued`, `processing`, `completed`, `stale`, or `failed`. Omit to return every status.'
          title: Status
        description: 'Filter to targets in this status: `queued`, `processing`, `completed`, `stale`, or `failed`. Omit to return every status.'
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingLanguageListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - language
      x-fern-sdk-method-name: list
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
        query-parameters:
          page_size: 20
        response:
          body:
            languages:
            - language_id: lang_1001kwkyxp0je6ktn4knsfrasx5s
              project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
              target_language: es
              status: completed
              model_id: dubbing_v2
              outputs:
                lossless_audio: https://storage.googleapis.com/eleven-dubbing/proj_1601kwkyxp0hfzvtmyxwqxx6mcy3/lang_1001kwkyxp0je6ktn4knsfrasx5s/output.flac?X-Goog-Signature=...
              revision: 3
              output_revision: 3
              warnings: []
              created_at: '2026-07-03T10:16:00Z'
              updated_at: '2026-07-03T10:20:45Z'
  /v1/dubbing/project/{project_id}/language/{language_id}:
    get:
      tags:
      - Dubbing
      summary: Get Dubbing Language Target
      description: Full language-target detail. Once the target reports `completed`, `outputs` carries the signed download URLs. To learn when that happens, we recommend the project's `webhook_ids` subscription rather than polling this endpoint; fetch here when a delivered URL has expired, or to reconcile after an edit.
      operationId: dubbing_language_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the parent dubbing project.
          title: Project Id
        description: Identifier of the parent dubbing project.
      - name: language_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the language target to fetch.
          title: Language Id
        description: Identifier of the language target to fetch.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingLanguageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - language
      x-fern-sdk-method-name: get
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
          language_id: lang_1001kwkyxp0je6ktn4knsfrasx5s
        response:
          body:
            language_id: lang_1001kwkyxp0je6ktn4knsfrasx5s
            project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
            target_language: es
            status: completed
            model_id: dubbing_v2
            outputs:
              lossless_audio: https://storage.googleapis.com/eleven-dubbing/proj_1601kwkyxp0hfzvtmyxwqxx6mcy3/lang_1001kwkyxp0je6ktn4knsfrasx5s/output.flac?X-Goog-Signature=...
            revision: 3
            output_revision: 3
            warnings: []
            created_at: '2026-07-03T10:16:00Z'
            updated_at: '2026-07-03T10:20:45Z'
    delete:
      tags:
      - Dubbing
      summary: Delete Dubbing Language Target
      description: Delete a language target and its outputs, leaving the project and its other languages intact. This cannot be undone, and a dub already running is still billed.
      operationId: dubbing_language_delete
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the parent dubbing project.
          title: Project Id
        description: Identifier of the parent dubbing project.
      - name: language_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the language target to delete.
          title: Language Id
        description: Identifier of the language target to delete.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - language
      x-fern-sdk-method-name: delete
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
          language_id: lang_1001kwkyxp0je6ktn4knsfrasx5s
  /v1/dubbing/project/{project_id}/transcript:
    get:
      tags:
      - Dubbing
      summary: Get Dubbing Transcript
      description: The project's source transcript, as editable segments. Available once the project is `ready`.
      operationId: dubbing_transcript_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project.
          title: Project Id
        description: Identifier of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingSourceTranscriptResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - transcript
      x-fern-sdk-method-name: get
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
        response:
          body:
            language: en
            segments:
            - id: 0199a3f0-1c2d-7abc-8def-0123456789ab
              text: Welcome to our product demo.
              speaker_id: default_speaker
              start_s: 0.0
              end_s: 2.5
            revision: 3
  /v1/dubbing/project/{project_id}/transcript/segment/{segment_id}:
    patch:
      tags:
      - Dubbing
      summary: Update Dubbing Transcript Segment
      description: Enterprise only. Edit a source segment's text, speaker, or timing. Omitted fields are left unchanged. Bumps the project's `revision`, discards the affected translations in every language target, and marks any target that had already completed `stale`. No audio changes until you regenerate a target.
      operationId: dubbing_transcript_segment_update
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project.
          title: Project Id
        description: Identifier of the dubbing project.
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the segment to edit.
          title: Segment Id
        description: Identifier of the segment to edit.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DubbingSegmentUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingSourceSegmentUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - transcript
      x-fern-sdk-method-name: update_segment
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
          segment_id: 0199a3f0-1c2d-7abc-8def-0123456789ab
        request:
          text: Welcome to our latest product demo.
        response:
          body:
            segment:
              id: 0199a3f0-1c2d-7abc-8def-0123456789ab
              text: Welcome to our latest product demo.
              speaker_id: default_speaker
              start_s: 0.0
              end_s: 2.5
            revision: 4
    delete:
      tags:
      - Dubbing
      summary: Delete Dubbing Transcript Segment
      description: Enterprise only. Remove a source segment from the transcript so it is no longer dubbed. Bumps the project's `revision`, discards the affected translations in every language target, and marks any target that had already completed `stale`. No audio changes until you regenerate a target.
      operationId: dubbing_transcript_segment_delete
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project.
          title: Project Id
        description: Identifier of the dubbing project.
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the segment to remove.
          title: Segment Id
        description: Identifier of the segment to remove.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingTranscriptRevisionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - transcript
      x-fern-sdk-method-name: delete_segment
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
          segment_id: 0199a3f0-1c2d-7abc-8def-0123456789ab
        response:
          body:
            revision: 6
  /v1/dubbing/project/{project_id}/transcript/segments:
    patch:
      tags:
      - Dubbing
      summary: Update Dubbing Transcript Segments
      description: 'Enterprise only. Edit several source segments'' text, speaker, or timing in one atomic request: every edit applies or none does. Bumps the project''s `revision`, discards the affected translations in every language target, and marks any target that had already completed `stale`. No audio changes until you regenerate a target.'
      operationId: dubbing_transcript_segments_update
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project.
          title: Project Id
        description: Identifier of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DubbingBulkSegmentUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingBulkSourceSegmentUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - transcript
      x-fern-sdk-method-name: update_segments
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
        request:
          segments:
            0199a3f0-1c2d-7abc-8def-0123456789ab:
              text: Welcome to our latest product demo.
            0199a3f0-3e4f-7abc-8def-0123456789cd:
              speaker_id: narrator
        response:
          body:
            segments:
            - id: 0199a3f0-1c2d-7abc-8def-0123456789ab
              text: Welcome to our latest product demo.
              speaker_id: default_speaker
              start_s: 0.0
              end_s: 2.5
            - id: 0199a3f0-3e4f-7abc-8def-0123456789cd
              text: Let's get started.
              speaker_id: narrator
              start_s: 2.5
              end_s: 4.0
            revision: 5
  /v1/dubbing/project/{project_id}/transcript/segment:
    post:
      tags:
      - Dubbing
      summary: Add Dubbing Transcript Segment
      description: Enterprise only. Add a new source segment to the transcript. Its span must lie within the source media, last between 0.1 and 25 seconds, and not overlap another segment by the same speaker. Bumps the project's `revision`, discards the affected translations in every language target, and marks any target that had already completed `stale`. No audio changes until you regenerate a target.
      operationId: dubbing_transcript_segment_add
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project.
          title: Project Id
        description: Identifier of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DubbingSegmentCreateRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingSourceSegmentUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - transcript
      x-fern-sdk-method-name: create_segment
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
        request:
          text: Thanks for watching.
          speaker_id: default_speaker
          start_s: 42.0
          end_s: 44.0
        response:
          body:
            segment:
              id: 0199a3f0-1c2d-7abc-8def-0123456789ab
              text: Thanks for watching.
              speaker_id: default_speaker
              start_s: 42.0
              end_s: 44.0
            revision: 5
  /v1/dubbing/project/{project_id}/language/{language_id}/transcript:
    get:
      tags:
      - Dubbing
      summary: Get Dubbing Target Transcript
      description: 'A language target''s transcript: source segments with their translations. Available once the target has produced an output. Returns a conflict while the target is still on its first dub, since it has no translations to return yet.'
      operationId: dubbing_target_transcript_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project.
          title: Project Id
        description: Identifier of the dubbing project.
      - name: language_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the language target.
          title: Language Id
        description: Identifier of the language target.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingTargetTranscriptResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - language
      - transcript
      x-fern-sdk-method-name: get
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
          language_id: lang_1001kwkyxp0je6ktn4knsfrasx5s
        response:
          body:
            source_language: en
            target_language: es
            segments:
            - id: 0199a3f0-1c2d-7abc-8def-0123456789ab
              speaker_id: default_speaker
              start_s: 0.0
              end_s: 2.5
              source_text: Welcome to our product demo.
              translation: Bienvenido a la demostración de nuestro producto.
            revision: 3
  /v1/dubbing/project/{project_id}/language/{language_id}/transcript/segment/{segment_id}:
    patch:
      tags:
      - Dubbing
      summary: Update Dubbing Target Transcript Segment
      description: Enterprise only. Edit a segment's translation for a language target. Omitted fields are left unchanged; an explicit null clears the field. Bumps the target's `revision` and marks it `stale` if it had already completed. The source transcript and the project's other languages are untouched, and no audio changes until you regenerate the target.
      operationId: dubbing_target_transcript_segment_update
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project.
          title: Project Id
        description: Identifier of the dubbing project.
      - name: language_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the language target.
          title: Language Id
        description: Identifier of the language target.
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the segment to edit.
          title: Segment Id
        description: Identifier of the segment to edit.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DubbingTargetSegmentUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingTargetSegmentUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - language
      - transcript
      x-fern-sdk-method-name: update_segment
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
          language_id: lang_1001kwkyxp0je6ktn4knsfrasx5s
          segment_id: 0199a3f0-1c2d-7abc-8def-0123456789ab
        request:
          translation: Bienvenido a nuestra última demostración de producto.
        response:
          body:
            segment:
              id: 0199a3f0-1c2d-7abc-8def-0123456789ab
              speaker_id: default_speaker
              start_s: 0.0
              end_s: 2.5
              source_text: Welcome to our product demo.
              translation: Bienvenido a nuestra última demostración de producto.
            revision: 4
  /v1/dubbing/project/{project_id}/language/{language_id}/transcript/segments:
    patch:
      tags:
      - Dubbing
      summary: Update Dubbing Target Transcript Segments
      description: 'Enterprise only. Edit several segments'' translations for a language target in one atomic request: every edit applies or none does. Bumps the target''s `revision` and marks it `stale` if it had already completed. The source transcript and the project''s other languages are untouched, and no audio changes until you regenerate the target.'
      operationId: dubbing_target_transcript_segments_update
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project.
          title: Project Id
        description: Identifier of the dubbing project.
      - name: language_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the language target.
          title: Language Id
        description: Identifier of the language target.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DubbingBulkTargetSegmentUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingBulkTargetSegmentUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - language
      - transcript
      x-fern-sdk-method-name: update_segments
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
          language_id: lang_1001kwkyxp0je6ktn4knsfrasx5s
        request:
          segments:
            0199a3f0-1c2d-7abc-8def-0123456789ab:
              translation: Bienvenido a nuestra última demostración de producto.
            0199a3f0-3e4f-7abc-8def-0123456789cd:
              translation: Empecemos.
        response:
          body:
            segments:
            - id: 0199a3f0-1c2d-7abc-8def-0123456789ab
              speaker_id: default_speaker
              start_s: 0.0
              end_s: 2.5
              source_text: Welcome to our product demo.
              translation: Bienvenido a nuestra última demostración de producto.
            - id: 0199a3f0-3e4f-7abc-8def-0123456789cd
              speaker_id: narrator
              start_s: 2.5
              end_s: 4.0
              source_text: Let's get started.
              translation: Empecemos.
            revision: 5
  /v1/dubbing/project/{project_id}/language/{language_id}/transcript/regenerate:
    post:
      tags:
      - Dubbing
      summary: Regenerate Dubbing Target
      description: 'Enterprise only. Re-dub a target from its edited transcript, re-synthesizing only the edited regions (charged like a generation, less the free-regeneration allowance). Accepted asynchronously: the target returns to `processing` and sends a `dubbing_language_completed` event to the project''s `webhook_ids` when the re-dub lands, carrying the new output URLs. Returns a conflict when the target has no edits to apply — nothing is dispatched and nothing is charged.'
      operationId: dubbing_target_transcript_regenerate
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the dubbing project.
          title: Project Id
        description: Identifier of the dubbing project.
      - name: language_id
        in: path
        required: true
        schema:
          type: string
          description: Identifier of the language target.
          title: Language Id
        description: Identifier of the language target.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingRegenerateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - project
      - language
      - transcript
      x-fern-sdk-method-name: regenerate
      x-fern-examples:
      - path-parameters:
          project_id: proj_1601kwkyxp0hfzvtmyxwqxx6mcy3
          language_id: lang_1001kwkyxp0je6ktn4knsfrasx5s
        response:
          body:
            regenerated_segment_ids:
            - 0199a3f0-1c2d-7abc-8def-0123456789ab
            - 0199a3f0-3e4f-7abc-8def-0123456789cd
            regenerated_seconds: 4.0
            charged_seconds: 0.0
            free_regeneration_seconds_remaining: 38.0
  /v1/dubbing/resource/{dubbing_id}:
    get:
      tags:
      - Dubbing
      summary: Get The Dubbing Resource For An Id
      description: Given a dubbing ID generated from the '/v1/dubbing' endpoint with studio enabled, returns the dubbing resource.
      operationId: get_dubbing_resource
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingResource'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      x-fern-sdk-method-name: get
  /v1/dubbing/resource/{dubbing_id}/language:
    post:
      tags:
      - Dubbing
      summary: Add A Language To The Resource
      description: Adds the given ElevenLab Turbo V2/V2.5 language code to the resource. Does not automatically generate transcripts/translations/audio.
      operationId: add_language
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Add_a_language_to_the_resource_v1_dubbing_resource__dubbing_id__language_post'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageAddedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      - language
      x-fern-sdk-method-name: add
  /v1/dubbing/resource/{dubbing_id}/speaker/{speaker_id}/segment:
    post:
      tags:
      - Dubbing
      summary: Create A Segment For The Speaker
      description: Creates a new segment in dubbing resource with a start and end time for the speaker in every available language. Does not automatically generate transcripts/translations/audio.
      operationId: create_clip
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: speaker_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the speaker.
          title: Speaker Id
        description: ID of the speaker.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentCreatePayload'
              description: The text, and start and end times of a segment.
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      - speaker
      - segment
      x-fern-sdk-method-name: create
  /v1/dubbing/resource/{dubbing_id}/segment/{segment_id}/{language}:
    patch:
      tags:
      - Dubbing
      summary: Modify A Single Segment
      description: Modifies a single segment with new text and/or start/end times. Will update the values for only a specific language of a segment. Does not automatically regenerate the dub.
      operationId: update_segment_language
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the segment
          title: Segment Id
        description: ID of the segment
      - name: language
        in: path
        required: true
        schema:
          type: string
          description: ID of the language.
          title: Language
        description: ID of the language.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentUpdatePayload'
              description: The text, and start and end times of a segment.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      - segment
      x-fern-sdk-method-name: update
  /v1/dubbing/resource/{dubbing_id}/migrate-segments:
    post:
      tags:
      - Dubbing
      summary: Move Segments Between Speakers
      description: Change the attribution of one or more segments to a different speaker.
      operationId: migrate_segments
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Move_segments_between_speakers_v1_dubbing_resource__dubbing_id__migrate_segments_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentMigrationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      x-fern-sdk-method-name: migrate_segments
  /v1/dubbing/resource/{dubbing_id}/segment/{segment_id}:
    delete:
      tags:
      - Dubbing
      summary: Deletes A Single Segment
      description: Deletes a single segment from the dubbing.
      operationId: delete_segment
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: segment_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the segment
          title: Segment Id
        description: ID of the segment
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentDeleteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      - segment
      x-fern-sdk-method-name: delete
  /v1/dubbing/resource/{dubbing_id}/transcribe:
    post:
      tags:
      - Dubbing
      summary: Transcribes Segments
      description: Regenerate the transcriptions for the specified segments. Does not automatically regenerate translations or dubs.
      operationId: transcribe
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Transcribes_segments_v1_dubbing_resource__dubbing_id__transcribe_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentTranscriptionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      x-fern-sdk-method-name: transcribe
  /v1/dubbing/resource/{dubbing_id}/translate:
    post:
      tags:
      - Dubbing
      summary: Translates All Or Some Segments And Languages
      description: Regenerate the translations for either the entire resource or the specified segments/languages. Will automatically transcribe missing transcriptions. Will not automatically regenerate the dubs.
      operationId: translate
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Translates_all_or_some_segments_and_languages_v1_dubbing_resource__dubbing_id__translate_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentTranslationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      x-fern-sdk-method-name: translate
  /v1/dubbing/resource/{dubbing_id}/dub:
    post:
      tags:
      - Dubbing
      summary: Dubs All Or Some Segments And Languages
      description: Regenerate the dubs for either the entire resource or the specified segments/languages. Will automatically transcribe and translate any missing transcriptions and translations.
      operationId: dub
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Dubs_all_or_some_segments_and_languages_v1_dubbing_resource__dubbing_id__dub_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentDubResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      x-fern-sdk-method-name: dub
  /v1/dubbing/resource/{dubbing_id}/speaker/{speaker_id}:
    patch:
      tags:
      - Dubbing
      summary: Update Metadata For A Speaker
      description: Amend the metadata associated with a speaker, such as their voice. Both voice cloning and using voices from the ElevenLabs library are supported.
      operationId: update_speaker
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: speaker_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the speaker.
          title: Speaker Id
        description: ID of the speaker.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Update_metadata_for_a_speaker_v1_dubbing_resource__dubbing_id__speaker__speaker_id__patch'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerUpdatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      - speaker
      x-fern-sdk-method-name: update
  /v1/dubbing/resource/{dubbing_id}/speaker:
    post:
      tags:
      - Dubbing
      summary: Create A New Speaker
      description: Creates a new speaker in a dubbing resource. The speaker is added to every available language and can optionally be associated with an ElevenLabs voice and voice settings.
      operationId: create_speaker
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Create_a_new_speaker_v1_dubbing_resource__dubbing_id__speaker_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerCreatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      - speaker
      x-fern-sdk-method-name: create
  /v1/dubbing/resource/{dubbing_id}/speaker/{speaker_id}/similar-voices:
    get:
      tags:
      - Dubbing
      summary: Search The Elevenlabs Library For Voices Similar To A Speaker
      description: Fetch the top 10 similar voices to a speaker, including the voice IDs, names, descriptions, and, where possible, a sample audio recording.
      operationId: get_similar_voices_for_speaker
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: speaker_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the speaker.
          title: Speaker Id
        description: ID of the speaker.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarVoicesForSpeakerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      - speaker
      x-fern-sdk-method-name: find_similar_voices
  /v1/dubbing/resource/{dubbing_id}/render/{language}:
    post:
      tags:
      - Dubbing
      summary: Render Audio Or Video For The Given Language
      description: Regenerate the output media for a language using the latest Studio state. Please ensure all segments have been dubbed before rendering, otherwise they will be omitted. Renders are generated asynchronously, and to check the status of all renders please use the 'Get Dubbing Resource' endpoint.
      operationId: render
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: language
        in: path
        required: true
        schema:
          type: string
          description: The target language code to render, eg. 'es'. To render the source track use 'original'.
          title: Language
        description: The target language code to render, eg. 'es'. To render the source track use 'original'.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Render_audio_or_video_for_the_given_language_v1_dubbing_resource__dubbing_id__render__language__post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingRenderResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - resource
      x-fern-sdk-method-name: render
  /v1/dubbing/{dubbing_id}/audio/{language_code}:
    get:
      tags:
      - Dubbing
      summary: Get Dubbed File
      description: Returns dub as a streamed MP3 or MP4 file. If this dub has been edited using Dubbing Studio you need to use the resource render endpoint as this endpoint only returns the original automatic dub result.
      operationId: get_dubbed_file
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: language_code
        in: path
        required: true
        schema:
          type: string
          description: ID of the language.
          title: Language Code
        description: ID of the language.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: The dubbed audio or video file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
            video/mp4:
              schema:
                type: string
                format: binary
        '403':
          description: Permission denied
          content:
            application/json:
              example:
                error: permission_denied
                message: User does not have required permissions
        '404':
          description: Dubbing not found
          content:
            application/json:
              example:
                error: dubbing_not_found
                message: There is no dubbing for language {language_code}.
        '425':
          description: Dubbing not ready
          content:
            application/json:
              example:
                error: dubbing_not_dubbed
                message: Dubbing has not finished yet.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - audio
      x-fern-sdk-method-name: get
  /v1/dubbing/{dubbing_id}/transcript/{language_code}:
    get:
      tags:
      - Dubbing
      summary: Get Dubbed Transcript
      description: Returns transcript for the dub as an SRT or WEBVTT file.
      operationId: get_dubbed_transcript_file
      deprecated: true
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: language_code
        in: path
        required: true
        schema:
          type: string
          description: ISO-693 language code to retrieve the transcript for. Use 'source' to fetch the transcript of the original media.
          examples:
          - source
          - en
          - fra
          title: Language Code
        description: ISO-693 language code to retrieve the transcript for. Use 'source' to fetch the transcript of the original media.
      - name: format_type
        in: query
        required: false
        schema:
          enum:
          - srt
          - webvtt
          - json
          type: string
          description: Format to return transcript in. For subtitles use either 'srt' or 'webvtt', and for a full transcript use 'json'. The 'json' format is not yet supported for Dubbing Studio.
          embed: true
          default: srt
          title: Format Type
        description: Format to return transcript in. For subtitles use either 'srt' or 'webvtt', and for a full transcript use 'json'. The 'json' format is not yet supported for Dubbing Studio.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/DubbingTranscriptResponseModel'
                - type: string
                title: Response Get Dubbed Transcript V1 Dubbing  Dubbing Id  Transcript  Language Code  Get
            text/plain:
              schema:
                type: string
              example: '1

                00:00:01,000 --> 00:00:04,000

                Hello, this is the first subtitle line


                2

                00:00:05,000 --> 00:00:07,000

                And here''s the second subtitle line'
        '403':
          description: Anonymous users cannot use this function
          content:
            application/json:
              example:
                error: anonymous_not_allowed
                message: Anonymous users cannot use this function
        '404':
          description: Dubbing or transcript not found
          content:
            application/json:
              example:
                error: transcript_not_found
                message: No transcript was found for the dub.
        '425':
          description: Dubbing not ready
          content:
            application/json:
              example:
                error: dubbing_not_dubbed
                message: Dubbing has not finished yet.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - transcript
      x-fern-sdk-method-name: get
  /v1/dubbing/{dubbing_id}/transcripts/{language_code}/format/{format_type}:
    get:
      tags:
      - Dubbing
      summary: Retrieve A Transcript
      description: Fetch the transcript for one of the languages in a dub.
      operationId: get_dubbing_transcripts
      parameters:
      - name: dubbing_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the dubbing project.
          title: Dubbing Id
        description: ID of the dubbing project.
      - name: language_code
        in: path
        required: true
        schema:
          type: string
          description: ISO-693 language code to retrieve the transcript for. Use 'source' to fetch the transcript of the original media.
          examples:
          - source
          - en
          - fra
          title: Language Code
        description: ISO-693 language code to retrieve the transcript for. Use 'source' to fetch the transcript of the original media.
      - name: format_type
        in: path
        required: true
        schema:
          enum:
          - srt
          - webvtt
          - json
          type: string
          description: Format to return transcript in. For subtitles use either 'srt' or 'webvtt', and for a full transcript use 'json'. The 'json' format is not yet supported for Dubbing Studio.
          examples:
          - srt
          - webvtt
          - json
          title: Format Type
        description: Format to return transcript in. For subtitles use either 'srt' or 'webvtt', and for a full transcript use 'json'. The 'json' format is not yet supported for Dubbing Studio.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingTranscriptsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - dubbing
      - transcripts
      x-fern-sdk-method-name: get
components:
  parameters:
    dubbingId:
      name: dubbing_id
      in: path
      required: true
      description: The unique identifier of the dubbing project.
      schema:
        type: string
  schemas:
    DubbingMetadata:
      type: object
      properties:
        dubbing_id:
          type: string
          description: The unique identifier of the dubbing project.
        name:
          type: string
          description: The name of the dubbing project.
        status:
          type: string
          description: The current processing status of the dubbing project.
          enum:
          - dubbing
          - dubbed
          - failed
        target_languages:
          type: array
          description: List of target languages for the dubbing.
          items:
            type: string
        source_language:
          type: string
          description: The detected or specified source language.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the dubbing project was created.
    DubbingResponse:
      type: object
      properties:
        dubbing_id:
          type: string
          description: The unique identifier of the created dubbing project.
        expected_duration_sec:
          type: number
          description: The estimated processing duration in seconds.
    CreateDubbingRequest:
      type: object
      properties:
        file:
          type: string
          format: binary
          description: The audio or video file to dub. Supports common formats including MP3, WAV, MP4, and MOV.
        source_url:
          type: string
          format: uri
          description: A URL to the source audio or video file to dub. Used as an alternative to uploading a file directly.
        source_lang:
          type: string
          description: The language code of the source audio content.
          default: auto
        target_lang:
          type: string
          description: The target language code for the dubbed output.
        num_speakers:
          type: integer
          description: The number of speakers in the source audio. Helps improve speaker diarization accuracy.
          minimum: 0
        watermark:
          type: boolean
          description: Whether to add a watermark to the dubbed output.
          default: false
        name:
          type: string
          description: A name for the dubbing project.
    DubbingSegmentCreateRequest:
      properties:
        text:
          type: string
          title: Text
          description: The text of the new segment.
        speaker_id:
          type: string
          title: Speaker Id
          description: Identifier of the segment's speaker.
        start_s:
          type: number
          title: Start S
          description: Start time of the segment, in seconds.
        end_s:
          type: number
          title: End S
          description: End time of the segment, in seconds.
      type: object
      required:
      - text
      - speaker_id
      - start_s
      - end_s
      title: DubbingSegmentCreateRequest
      description: A new source segment; its ID and word-level alignment are assigned by the server.
    Body_Create_Dubbing_Project_v1_dubbing_project_post:
      properties:
        file:
          anyOf:
          - type: string
            format: binary
          - type: 'null'
          title: File
          description: 'The source media file to dub: an audio or video file of at most 3 GiB. Provide this or `source_url`, not both.'
        source_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Url
          description: Public HTTP(S) URL the source media is fetched from server-side, subject to the same size and format limits as an upload. Provide this or `file`, not both.
        reference:
          anyOf:
          - type: string
          - type: 'null'
          title: Reference
          description: Optional free-form string (at most 500 characters) to identify the project on your end. Stored and echoed back verbatim; it does not affect the dub.
        source_language:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Language
          description: BCP-47 language tag of the source media; must be a language the transcription model supports. Any region or script subtag is ignored, since transcription is per-language. Omit to auto-detect.
        model_id:
          anyOf:
          - type: string
            enum:
            - dubbing_v1
            - dubbing_v2
          - type: string
          - type: 'null'
          title: Model Id
          description: Dubbing model (`dubbing_v1` or `dubbing_v2`) every language target of this project is dubbed with. Defaults to `dubbing_v2`. Fixed at create time — the source is prepared for this model, so neither the project nor an individual target can change it later.
        keyterms:
          items:
            type: string
          type: array
          title: Keyterms
          description: Key terms to bias transcription and translation toward (for example, product or brand names). At most 1,000 terms; each term at most 50 characters and 5 words; the characters `<>{}[]\` are not allowed. Terms are trimmed and deduplicated.
        webhook_ids:
          items:
            type: string
          type: array
          title: Webhook Ids
          description: IDs of workspace webhooks to notify as this project progresses — the alternative to polling, and what we recommend. Each receives a `dubbing_project_ready` or `dubbing_project_failed` event for the project, and a `dubbing_language_completed` or `dubbing_language_failed` event for every language under it; `dubbing_language_completed` carries the output download URLs. At most 3 IDs, each already configured in your workspace — see [Webhooks](https://elevenlabs.io/docs/eleven-api/resources/webhooks) for how to create one and verify its signature. Delivery is best-effort and can repeat, so we recommend handling events idempotently.
        target_language:
          anyOf:
          - type: string
          - type: 'null'
          title: Target Language
          description: 'Optional shortcut: also create a language target in this BCP-47 language, queued to start once the project is ready — equivalent to creating the project and then creating one language target. Must be one of the [languages the dubbing model supports](https://elevenlabs.io/docs/help-center/product/dubbing/which-languages-are-supported-in-dubbing), and a region-qualified tag must be one of the supported dialects. This is the first language target, so it consumes the project''s minimum charge rather than adding to it. Its ID is returned in `language_ids`.'
        transcript:
          anyOf:
          - type: string
            format: binary
          - type: 'null'
          title: Transcript
          description: 'Enterprise only. Optional JSON transcript to use instead of transcribing the source: a `{"segments": [...]}` document, at most 20,000 segments and 4 MiB. See [Bring your own transcript](https://elevenlabs.io/docs/eleven-api/guides/how-to/dubbing/bring-your-own-transcript) for the segment fields and their constraints. `source_language` is required whenever a transcript is provided. If any segment carries a `translation`, `target_language` is required and every segment must carry one; those translations seed the target created via `target_language`, which then skips machine translation.'
      type: object
      title: Body_Create_Dubbing_Project_v1_dubbing_project_post
    DubbingSegmentUpdateRequest:
      properties:
        text:
          anyOf:
          - type: string
          - type: 'null'
          title: Text
          description: New text for the segment.
        speaker_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Speaker Id
          description: New speaker ID for the segment.
        start_s:
          anyOf:
          - type: number
          - type: 'null'
          title: Start S
          description: New start time, in seconds.
        end_s:
          anyOf:
          - type: number
          - type: 'null'
          title: End S
          description: New end time, in seconds.
      type: object
      title: DubbingSegmentUpdateRequest
      description: A partial update to a source segment; omitted fields are left unchanged.
    DubbingLanguageResponse:
      properties:
        language_id:
          type: string
          title: Language Id
          description: Unique identifier of the language target.
        project_id:
          type: string
          title: Project Id
          description: Identifier of the parent dubbing project.
        target_language:
          type: string
          title: Target Language
          description: BCP-47 language tag this target is dubbed into.
        status:
          type: string
          enum:
          - queued
          - processing
          - completed
          - stale
          - failed
          title: Status
          description: 'Lifecycle status: `queued` (waiting on the project to be ready, or on a worker), `processing` while it is being dubbed, `completed` once its output is available, `stale` when the transcript changed after the output was produced, or `failed`.'
        model_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Id
[...]
