openapi: 3.2.0
info:
  title: Elevenlabs Text to Speech API
  version: '1.0'
  description: 'Operations tagged Text to Speech across 2 of this provider''s published API definitions: elevenlabs-text-to-speech-openapi.yml, elevenlabs-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elevenlabs.io
  description: Production Server
tags:
- name: Text To Speech
  description: Endpoints for converting text into speech audio with configurable voice, model, and output format settings.
paths:
  /v1/text-to-speech/{voice_id}:
    post:
      operationId: createSpeech
      summary: Create speech
      description: Converts text into speech using a specified voice. Returns audio in the requested format. Supports voice settings overrides and pronunciation dictionary locators for fine-tuned output.
      tags:
      - Text To Speech
      parameters:
      - $ref: '#/components/parameters/voiceId'
      - $ref: '#/components/parameters/outputFormat'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        '200':
          description: Audio file generated successfully
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '422':
          description: Unprocessable entity - validation error
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.elevenlabs.io
      description: Production Server
  /v1/text-to-speech/{voice_id}/stream:
    post:
      operationId: streamSpeech
      summary: Stream speech
      description: Converts text into speech and streams the audio back as chunked transfer encoding. Useful for real-time playback scenarios where latency is important.
      tags:
      - Text To Speech
      parameters:
      - $ref: '#/components/parameters/voiceId'
      - $ref: '#/components/parameters/outputFormat'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        '200':
          description: Streaming audio response
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '422':
          description: Unprocessable entity - validation error
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.elevenlabs.io
      description: Production Server
  /v1/text-to-speech/{voice_id}/with-timestamps:
    post:
      operationId: createSpeechWithTimestamps
      summary: Create speech with timing
      description: Converts text into speech and returns both the audio and word-level timing information. Useful for applications that need to synchronize text display with audio playback.
      tags:
      - Text To Speech
      parameters:
      - $ref: '#/components/parameters/voiceId'
      - $ref: '#/components/parameters/outputFormat'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        '200':
          description: Audio with timestamp data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimestampedAudioResponse'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '422':
          description: Unprocessable entity - validation error
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.elevenlabs.io
      description: Production Server
  /v1/text-to-speech/{voice_id}/stream/with-timestamps:
    post:
      operationId: streamSpeechWithTimestamps
      summary: Stream speech with timing
      description: Converts text into speech and streams the audio along with word-level timing information. Combines the benefits of streaming delivery with timestamp synchronization data.
      tags:
      - Text To Speech
      parameters:
      - $ref: '#/components/parameters/voiceId'
      - $ref: '#/components/parameters/outputFormat'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        '200':
          description: Streaming audio with timestamp data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimestampedAudioResponse'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '422':
          description: Unprocessable entity - validation error
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.elevenlabs.io
      description: Production Server
  /v1/flows/text-to-speech:
    post:
      tags:
      - Text To Speech
      summary: Create Speech Generation
      description: Start a speech generation with the selected model. Charged per character via text-to-speech billing. Use this over `/v1/text-to-speech` for the asynchronous generation lifecycle or for models not offered there; for direct, synchronous speech synthesis, prefer `/v1/text-to-speech`.
      operationId: create_text_to_speech_generation
      parameters:
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechGenerationRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaGenerationCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - flows
      - text_to_speech
      x-fern-sdk-method-name: create
    get:
      tags:
      - Text To Speech
      summary: List Speech Generations
      description: List the speech generations created through this API, newest first.
      operationId: list_text_to_speech_generations
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Pagination cursor: the `next_cursor` value of the previous page''s response. Omit it for the first page.'
          title: Cursor
        description: 'Pagination cursor: the `next_cursor` value of the previous page''s response. Omit it for the first page.'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: How many generations to return per page.
          default: 30
          title: Page Size
        description: How many generations to return per page.
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - pending
            - generating
            - completed
            - failed
            type: string
          - type: 'null'
          description: Only return generations with this lifecycle status.
          title: Status
        description: Only return generations with this lifecycle status.
      - name: model_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Only return generations of this model.
          title: Model Id
        description: Only return generations of this model.
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaGenerationListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - flows
      - text_to_speech
      x-fern-sdk-method-name: list
  /v1/flows/text-to-speech/{generation_id}:
    get:
      tags:
      - Text To Speech
      summary: Get Speech Generation
      description: Retrieve the status of a speech generation, and retrieve its output URL once completed.
      operationId: get_text_to_speech_generation
      parameters:
      - name: generation_id
        in: path
        required: true
        schema:
          type: string
          title: Generation Id
      - name: xi-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          title: Xi-Api-Key
        description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaGenerationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
      - flows
      - text_to_speech
      x-fern-sdk-method-name: get
components:
  parameters:
    voiceId:
      name: voice_id
      in: path
      required: true
      description: The identifier of the voice to use for speech synthesis. Use the Voices API to list available voices.
      schema:
        type: string
    outputFormat:
      name: output_format
      in: query
      required: false
      description: The desired output audio format. Supported values include mp3_44100_128, mp3_44100_192, pcm_16000, pcm_22050, pcm_24000, pcm_44100, ulaw_8000.
      schema:
        type: string
        default: mp3_44100_128
        enum:
        - mp3_22050_32
        - mp3_44100_32
        - mp3_44100_64
        - mp3_44100_96
        - mp3_44100_128
        - mp3_44100_192
        - pcm_16000
        - pcm_22050
        - pcm_24000
        - pcm_44100
        - ulaw_8000
  schemas:
    PronunciationDictionaryLocator:
      type: object
      required:
      - pronunciation_dictionary_id
      - version_id
      properties:
        pronunciation_dictionary_id:
          type: string
          description: The identifier of the pronunciation dictionary.
        version_id:
          type: string
          description: The version identifier of the pronunciation dictionary.
    VoiceSettings:
      type: object
      description: Voice settings that override the stored settings for the given voice. Applied only on the current request.
      properties:
        stability:
          type: number
          description: Controls the stability of the generated voice. Higher values produce more consistent output, lower values add variability.
          minimum: 0
          maximum: 1
        similarity_boost:
          type: number
          description: Controls how closely the AI adheres to the original voice. Higher values increase similarity to the target voice.
          minimum: 0
          maximum: 1
        style:
          type: number
          description: Controls the expressiveness and style of the speech delivery. Higher values produce more expressive speech.
          minimum: 0
          maximum: 1
          default: 0
        use_speaker_boost:
          type: boolean
          description: Enables speaker boost to increase voice clarity and reduce background artifacts.
          default: true
    TextToSpeechRequest:
      type: object
      required:
      - text
      properties:
        text:
          type: string
          description: The text to convert to speech. Maximum length varies by model.
        model_id:
          type: string
          description: The identifier of the model to use. Use GET /v1/models to list available models. The model must support text to speech.
          default: eleven_monolingual_v1
        voice_settings:
          $ref: '#/components/schemas/VoiceSettings'
        pronunciation_dictionary_locators:
          type: array
          description: A list of pronunciation dictionary locators to apply to the text. Applied in order, with a maximum of 3 locators per request.
          items:
            $ref: '#/components/schemas/PronunciationDictionaryLocator'
          maxItems: 3
        seed:
          type: integer
          description: A seed value for deterministic generation. Using the same seed with the same parameters produces the same audio output.
        previous_text:
          type: string
          description: Text that came before the current text for context continuity.
        next_text:
          type: string
          description: Text that comes after the current text for context continuity.
        language_code:
          type: string
          description: Language code for the text, in ISO 639-1 format. Helps the model produce more accurate pronunciation for the specified language.
    TimestampedAudioResponse:
      type: object
      properties:
        audio_base64:
          type: string
          description: Base64 encoded audio data.
        alignment:
          type: object
          description: Word-level timing information for the generated audio.
          properties:
            characters:
              type: array
              description: Array of characters with their timing information.
              items:
                type: object
                properties:
                  character:
                    type: string
                    description: The character.
                  start_time:
                    type: number
                    description: Start time in seconds.
                  end_time:
                    type: number
                    description: End time in seconds.
    MediaGenerationInProgressResponse:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the generation.
          examples:
          - JWr5N6X9ZTqf8jD2LmQb
        status:
          type: string
          enum:
          - pending
          - generating
          title: Status
          description: The lifecycle status of the generation. It ends at `completed` or `failed`.
          examples:
          - generating
      type: object
      required:
      - id
      - status
      title: MediaGenerationInProgressResponse
      description: A media generation that has not finished yet.
      example:
        id: JWr5N6X9ZTqf8jD2LmQb
        status: generating
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    MediaGenerationFailedResponse:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the generation.
          examples:
          - JWr5N6X9ZTqf8jD2LmQb
        status:
          type: string
          const: failed
          title: Status
          description: The lifecycle status of the generation.
          examples:
          - failed
        failure_reason:
          type: string
          enum:
          - timeout
          - model_error
          - moderated
          - invalid_parameters
          - dependency_failed
          - charging_failed
          - internal_error
          title: Failure Reason
          description: The category of failure.
          examples:
          - timeout
        error_message:
          type: string
          title: Error Message
          description: A human-readable description of the failure. Failed generations are not charged.
          examples:
          - Timed out while processing. You were not charged for this generation.
      type: object
      required:
      - id
      - status
      - failure_reason
      - error_message
      title: MediaGenerationFailedResponse
      description: A failed media generation and why it failed.
      example:
        error_message: Timed out while processing. You were not charged for this generation.
        failure_reason: timeout
        id: JWr5N6X9ZTqf8jD2LmQb
        status: failed
    MediaGenerationCompletedResponse:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the generation.
          examples:
          - JWr5N6X9ZTqf8jD2LmQb
        status:
          type: string
          const: completed
          title: Status
          description: The lifecycle status of the generation.
          examples:
          - completed
        content_url:
          type: string
          title: Content Url
          description: A signed URL to download the generated media from. It expires about an hour after this response is returned; fetch the generation again for a fresh URL.
          examples:
          - https://storage.googleapis.com/generations/JWr5N6X9ZTqf8jD2LmQb
        content_mime_type:
          type: string
          title: Content Mime Type
          description: The MIME type of the generated media.
          examples:
          - video/mp4
          - image/png
          - audio/mpeg
      type: object
      required:
      - id
      - status
      - content_url
      - content_mime_type
      title: MediaGenerationCompletedResponse
      description: A completed media generation and its output.
      example:
        content_mime_type: video/mp4
        content_url: https://storage.googleapis.com/generations/JWr5N6X9ZTqf8jD2LmQb
        id: JWr5N6X9ZTqf8jD2LmQb
        status: completed
    WebhookTarget:
      oneOf:
      - $ref: '#/components/schemas/WebhookTargetAll'
      - $ref: '#/components/schemas/WebhookTargetIds'
      discriminator:
        propertyName: type
        mapping:
          all: '#/components/schemas/WebhookTargetAll'
          ids: '#/components/schemas/WebhookTargetIds'
    WebhookTargetIds:
      properties:
        type:
          type: string
          const: ids
          title: Type
          description: Send the result to the listed flows webhooks.
          default: ids
        ids:
          items:
            type: string
          type: array
          minItems: 1
          title: Ids
          description: The IDs of the workspace flows webhooks to deliver the result to. Each must be one of the workspace's configured flows webhooks.
          examples:
          - - Q8mVr2LpXcT4nB6yJdKw
      type: object
      required:
      - ids
      title: WebhookTargetIds
      description: Deliver the result to specific configured flows webhooks.
    WebhookTargetAll:
      properties:
        type:
          type: string
          const: all
          title: Type
          description: Send the result to all of the workspace's configured flows webhooks.
          default: all
      type: object
      title: WebhookTargetAll
      description: Deliver the result to all of the workspace's configured flows webhooks.
    MediaGenerationResponse:
      oneOf:
      - $ref: '#/components/schemas/MediaGenerationInProgressResponse'
      - $ref: '#/components/schemas/MediaGenerationCompletedResponse'
      - $ref: '#/components/schemas/MediaGenerationFailedResponse'
      discriminator:
        propertyName: status
        mapping:
          completed: '#/components/schemas/MediaGenerationCompletedResponse'
          failed: '#/components/schemas/MediaGenerationFailedResponse'
          generating: '#/components/schemas/MediaGenerationInProgressResponse'
          pending: '#/components/schemas/MediaGenerationInProgressResponse'
    ElevenV3Request:
      properties:
        webhook:
          anyOf:
          - $ref: '#/components/schemas/WebhookTarget'
          - type: 'null'
          description: Include to send the generation's result to the workspace's configured flows webhooks once it completes or fails. The webhook payload matches the terminal response of the corresponding GET endpoint.
          examples:
          - type: all
          - ids:
            - Q8mVr2LpXcT4nB6yJdKw
            type: ids
        text:
          type: string
          title: Text
          description: The text to synthesize into speech.
          examples:
          - The first move is what sets everything in motion.
        voice:
          type: string
          title: Voice
          description: The ID of the voice to speak with.
          examples:
          - JBFqnCBsd6RMkjVDRZzb
        output_format:
          type: string
          enum:
          - mp3_22050_32
          - mp3_24000_48
          - mp3_44100_32
          - mp3_44100_64
          - mp3_44100_96
          - mp3_44100_128
          - mp3_44100_192
          title: Output Format
          description: The audio encoding of the output, as `codec_sampleRateHz_bitrateKbps`. `mp3_44100_192` requires the Creator tier or above.
          default: mp3_44100_128
        pronunciation_dictionary_locators:
          items:
            $ref: '#/components/schemas/PronunciationDictionaryVersionLocator'
          type: array
          maxItems: 3
          title: Pronunciation Dictionary Locators
          description: Pronunciation dictionaries to apply to the text, in order of precedence. Up to 3.
        model_id:
          type: string
          const: eleven_v3
          title: Model Id
          description: The model to use for the generation.
        language_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Language Code
          description: ISO 639-1 language code to enforce on the output. Omit to detect the language from the text.
          examples:
          - en
        voice_settings:
          anyOf:
          - $ref: '#/components/schemas/ElevenV3VoiceSettings'
          - type: 'null'
          description: Overrides for the voice's saved settings, applied to this generation only.
      additionalProperties: false
      type: object
      required:
      - text
      - voice
      - model_id
      title: ElevenV3Request
      description: Request body for the Eleven v3 TTS model.
    ElevenFlashV2_5Request:
      properties:
        webhook:
          anyOf:
          - $ref: '#/components/schemas/WebhookTarget'
          - type: 'null'
          description: Include to send the generation's result to the workspace's configured flows webhooks once it completes or fails. The webhook payload matches the terminal response of the corresponding GET endpoint.
          examples:
          - type: all
          - ids:
            - Q8mVr2LpXcT4nB6yJdKw
            type: ids
        text:
          type: string
          title: Text
          description: The text to synthesize into speech.
          examples:
          - The first move is what sets everything in motion.
        voice:
          type: string
          title: Voice
          description: The ID of the voice to speak with.
          examples:
          - JBFqnCBsd6RMkjVDRZzb
        output_format:
          type: string
          enum:
          - mp3_22050_32
          - mp3_24000_48
          - mp3_44100_32
          - mp3_44100_64
          - mp3_44100_96
          - mp3_44100_128
          - mp3_44100_192
          title: Output Format
          description: The audio encoding of the output, as `codec_sampleRateHz_bitrateKbps`. `mp3_44100_192` requires the Creator tier or above.
          default: mp3_44100_128
        pronunciation_dictionary_locators:
          items:
            $ref: '#/components/schemas/PronunciationDictionaryVersionLocator'
          type: array
          maxItems: 3
          title: Pronunciation Dictionary Locators
          description: Pronunciation dictionaries to apply to the text, in order of precedence. Up to 3.
        model_id:
          type: string
          const: eleven_flash_v2_5
          title: Model Id
          description: The model to use for the generation.
        language_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Language Code
          description: ISO 639-1 language code to enforce on the output. Omit to detect the language from the text.
          examples:
          - en
        voice_settings:
          anyOf:
          - $ref: '#/components/schemas/ElevenFlashV2_5VoiceSettings'
          - type: 'null'
          description: Overrides for the voice's saved settings, applied to this generation only.
      additionalProperties: false
      type: object
      required:
      - text
      - voice
      - model_id
      title: ElevenFlashV2_5Request
      description: Request body for the ElevenLabs Flash v2.5 TTS model.
    ElevenMultilingualV2Request:
      properties:
        webhook:
          anyOf:
          - $ref: '#/components/schemas/WebhookTarget'
          - type: 'null'
          description: Include to send the generation's result to the workspace's configured flows webhooks once it completes or fails. The webhook payload matches the terminal response of the corresponding GET endpoint.
          examples:
          - type: all
          - ids:
            - Q8mVr2LpXcT4nB6yJdKw
            type: ids
        text:
          type: string
          title: Text
          description: The text to synthesize into speech.
          examples:
          - The first move is what sets everything in motion.
        voice:
          type: string
          title: Voice
          description: The ID of the voice to speak with.
          examples:
          - JBFqnCBsd6RMkjVDRZzb
        output_format:
          type: string
          enum:
          - mp3_22050_32
          - mp3_24000_48
          - mp3_44100_32
          - mp3_44100_64
          - mp3_44100_96
          - mp3_44100_128
          - mp3_44100_192
          title: Output Format
          description: The audio encoding of the output, as `codec_sampleRateHz_bitrateKbps`. `mp3_44100_192` requires the Creator tier or above.
          default: mp3_44100_128
        pronunciation_dictionary_locators:
          items:
            $ref: '#/components/schemas/PronunciationDictionaryVersionLocator'
          type: array
          maxItems: 3
          title: Pronunciation Dictionary Locators
          description: Pronunciation dictionaries to apply to the text, in order of precedence. Up to 3.
        model_id:
          type: string
          const: eleven_multilingual_v2
          title: Model Id
          description: The model to use for the generation.
        voice_settings:
          anyOf:
          - $ref: '#/components/schemas/TtsVoiceSettings'
          - type: 'null'
          description: Overrides for the voice's saved settings, applied to this generation only.
      additionalProperties: false
      type: object
      required:
      - text
      - voice
      - model_id
      title: ElevenMultilingualV2Request
      description: Request body for the ElevenLabs Multilingual v2 TTS model.
    MediaGenerationListResponse:
      properties:
        generations:
          items:
            $ref: '#/components/schemas/MediaGenerationResponse'
          type: array
          title: Generations
          description: The generations on this page, newest first. Each item has the same shape as the corresponding GET endpoint's response.
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
          description: Pass as `cursor` to fetch the next page. `null` when there is no further page.
        has_more:
          type: boolean
          title: Has More
          description: Whether more generations exist beyond this page.
          readOnly: true
      type: object
      required:
      - generations
      - next_cursor
      - has_more
      title: MediaGenerationListResponse
      description: One page of the caller's generations, newest first.
      example:
        generations:
        - content_mime_type: video/mp4
          content_url: https://storage.googleapis.com/generations/JWr5N6X9ZTqf8jD2LmQb
          id: JWr5N6X9ZTqf8jD2LmQb
          status: completed
        - id: Kx2mP7Y4WVrg9kE3NnRc
          status: generating
        has_more: true
        next_cursor: MjAyNi0wNy0xN1QxMjowMDowMHxLeDJtUDdZNFdWcmc5a0UzTm5SYw
    ElevenV3VoiceSettings:
      properties:
        stability:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Stability
          description: How consistent the voice stays across generations. Lower values give more expressive, varied speech.
      additionalProperties: false
      type: object
      title: ElevenV3VoiceSettings
      description: Overrides for the voice's saved settings, applied to one generation.
    ElevenFlashV2_5VoiceSettings:
      properties:
        stability:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Stability
          description: How consistent the voice stays across generations. Lower values give more expressive, varied speech.
        similarity_boost:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Similarity Boost
          description: How closely the output adheres to the original voice.
        speed:
          anyOf:
          - type: number
            maximum: 1.2
            minimum: 0.7
          - type: 'null'
          title: Speed
          description: The speed of the generated speech, where 1.0 is the voice's natural pace.
      additionalProperties: false
      type: object
      title: ElevenFlashV2_5VoiceSettings
      description: Overrides for the voice's saved settings, applied to one generation.
    PronunciationDictionaryVersionLocator:
      properties:
        pronunciation_dictionary_id:
          type: string
          title: Pronunciation Dictionary Id
          description: The ID of a pronunciation dictionary created via `POST /v1/pronunciation-dictionaries/add-from-file` or `POST /v1/pronunciation-dictionaries/add-from-rules`.
          examples:
          - 5xM3yVvZQKV0EfqQpLrJ
        version_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Version Id
          description: The version of the dictionary to use. Omit to use the latest version.
      additionalProperties: false
      type: object
      required:
      - pronunciation_dictionary_id
      title: PronunciationDictionaryVersionLocator
      description: A pronunciation dictionary to apply during speech synthesis.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TtsVoiceSettings:
      properties:
        stability:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Stability
          description: How consistent the voice stays across generations. Lower values give more expressive, varied speech.
        similarity_boost:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Similarity Boost
          description: How closely the output adheres to the original voice.
        style:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Style
          description: How strongly the speaking style is exaggerated.
        use_speaker_boost:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Speaker Boost
          description: Whether to boost similarity to the original speaker, at some latency cost.
        speed:
          anyOf:
          - type: number
            maximum: 1.2
            minimum: 0.7
          - type: 'null'
          title: Speed
          description: The speed of the generated speech, where 1.0 is the voice's natural pace.
      additionalProperties: false
      type: object
      title: TtsVoiceSettings
      description: Overrides for the voice's saved settings, applied to one generation.
    TextToSpeechGenerationRequest:
      oneOf:
      - $ref: '#/components/schemas/ElevenFlashV2_5Request'
      - $ref: '#/components/schemas/ElevenMultilingualV2Request'
      - $ref: '#/components/schemas/ElevenV3Request'
      discriminator:
        propertyName: model_id
        mapping:
          eleven_flash_v2_5: '#/components/schemas/ElevenFlashV2_5Request'
          eleven_multilingual_v2: '#/components/schemas/ElevenMultilingualV2Request'
          eleven_v3: '#/components/schemas/ElevenV3Request'
    MediaGenerationCreateResponse:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the generation. Pass it to the corresponding GET endpoint to retrieve the output.
          examples:
          - JWr5N6X9ZTqf8jD2LmQb
        status:
          type: string
          const: pending
          title: Status
          description: A newly created generation is always `pending`.
          examples:
          - pending
      type: object
      required:
      - id
      - status
      title: MediaGenerationCreateResponse
      description: A newly queued media generation; fetch the GET endpoint for the output.
      example:
        id: JWr5N6X9ZTqf8jD2LmQb
        status: pending
    Body_text_to_speech_full:
      properties:
        text:
          type: string
          title: Text
          description: The text that will get converted into speech.
          examples:
          - This is a test for the API of ElevenLabs.
        model_id:
          type: string
          title: Model Id
          description: Identifier of the model that will be used, you can query them using GET /v1/models. The model needs to have support for text to speech, you can check this using the can_do_text_to_speech property.
          default: eleven_multilingual_v2
        language_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Language Code
          description: Language code (ISO 639-1) used to enforce a language for the model and text normalization. If the model does not support the provided language code, it will be ignored. This parameter is not supported for multilingual_v2 models.
        voice_settings:
          anyOf:
          - $ref: '#/components/schemas/VoiceSettingsResponseModel'
          - type: 'null'
          description: Voice settings overriding stored settings for the given voice. They are applied only on the given request.
        pronunciation_dictionary_locators:
          anyOf:
          - items:
              $ref: '#/components/schemas/PronunciationDictionaryVersionLocatorRequestModel'
            type: array
          - type: 'null'
          title: Pronunciation Dictionary Locators
          description: A list of pronunciation dictionary locators (id, version_id) to be applied to the text. They will be applied in order. You may have up to 3 locators per request
          examples:
          - - pronunciation_dictionary_id: test
              version_id: id2
        seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seed
          description: If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed. Must be integer between 0 and 4294967295.
          examples:
          - 12345
        previous_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Previous Text
          description: The text that came before the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation.
          examples:
          - In the heart of a lush valley surrounded by towering mountains lies the quaint village of Willowbrook.
        next_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Text
          description: The text that comes after the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation.
          examples:
          - The Willowbrook Festival, held every spring, celebrates the blossoming of the wild bluebells that carpet the nearby forest floors, creating a breathtaking sea of blue under the canopy of fresh green leaves.
        previous_request_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Previous Request Ids
          description: A list of request_id of the samples that were generated before this generation. Can be used to improve the speech's continuity when splitting up a large task into multiple requests. The results will be best when the same model is used across the generations. In case both previous_text and previous_request_ids is send, previous_text will be ignored. A maximum of 3 request_ids can be send.
          examples:
          - - 09bOJkdYVjKy2oOiiVtR
            - 0p2uKqOnZyce22SPZ9d5
            - 1KYvY8WZAKmcjCJ1mvVB
        next_request_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Next Request Ids
          description: A list of request_id of the samples that come after this generation. next_request_ids is especially useful for maintaining the speech's continuity when regenerating a sample that has had some audio quality issues. For example, if you have generated 3 speech clips, and you want to improve clip 2, passing the request id of clip 3 as a next_request_id (and that of clip 1 as a previous_request_id) will help maintain natural flow in the combined speech. The results will be best when the same model is used across the generations. In case both next_text and next_request_ids is send, next_text will be ignored. A maximum of 3 request_ids can be send.
          examples:
          - - 3tPgBrD1UdW3snUkGw1K
            - 4D1jAxiRFkolBNUGzXkU
            - 4c8Z4aWliVR2oipYRXhj
        use_pvc_as_ivc:
          type: boolean
          title: Use Pvc As Ivc
          description: If true, we won't use PVC version of the voice for the generation but the IVC version. This is a temporary workaround for higher latency in PVC versions.
          default: false
          deprecated: true
          examples:
          - true
        apply_text_normalization:
          type: string
          enum:
          - auto
          - 'on'
          - 'off'
          title: Apply Text Normalization
          description: 'This parameter controls text normalization with three modes: ''auto'', ''on'', and ''off''. When set to ''auto'', the system will automatically decide whether to apply text normalization (e.g., spelling out numbers). With ''on'', text normalization will always be applied, while with ''off'', it will be skipped.'
          default: auto
          examples:
          - true
        apply_language_text_normalization:
          type: boolean
          title: Apply Language Text Normalization
          description: 'This parameter controls language text normalization. This helps with proper pronunciation of text in some supported languages. WARNING: This parameter can heavily increase the latency of the request. Currently only supported for Japanese.'
          default: false
          examples:
          - true
      type: object
      required:
      - text
      title: Body_text_to_speech_full
    Body_text_to_speech_full_with_timestamps:
      properties:
        text:
          type: string
          title: Text
          description: The text that will get converted into speech.
          examples:
          - This is a test for the API of ElevenLabs.
        model_id:
          type: string
          title: Model Id
          description: Identifier of the model that will be used, you can query them using GET /v1/models. The model needs to have support for text to speech, you can check this using the can_do_text_to_speech property.
          default: eleven_multilingual_v2
        language_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Language Code
          description: Language code (ISO 639-1) used to enforce a language for the model and text normalization. If the model does not support the provided language code, it will be ignored. This parameter is not supported for multilingual_v2 models.
        voice_settings:
          anyOf:
          - $ref: '#/components/schemas/VoiceSettingsResponseModel'
          - type: 'null'
          description: Voice settings overriding stored settings for the given voice. They are applied only on the given request.
        pronunciation_dictionary_locators:
          items:
            $ref: '#/components/schemas/PronunciationDictionaryVersionLocatorRequestModel'
          type: array
          title: Pronunciation Dictionary Locators
          description: A list of pronunciation dictionary locators (id, version_id) to be applied to the text. They will be applied in order. You may have up to 3 locators per request
          examples:
          - - pronunciation_dictionary_id: test
              version_id: id2
        seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seed
          description: If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed. Must be integer between 0 and 4294967295.
          examples:
          - 12345
        previous_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Previous Text
          description: The text that came before the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation.
          examples:
          - In the heart of a lush valley surrounded by towering mountains lies the quaint village of Willowbrook.
        next_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Text
          description: The text that comes after the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation.
          examples:
          - The Willowbrook Festival, held every spring, celebrates the blossoming of the wild bluebells that carpet the nearby forest floors, creating a breathtaking sea of blue under the canopy of fresh green leaves.
        previous_request_ids:
          items:
            type: string
          type: array
          title: Previous Request Ids
          description: A list of request_id of the samples that were generated before this generation. Can be used to improve the speech's continuity when splitting up a large task into multiple requests. The results will be best when the same model is used across the generations. In case both previous_text and previous_request_ids is send, previous_text will be ignored. A maximum of 3 request_ids can be send.
          examples:
          - - 09bOJkdYVjKy2oOiiVtR
            - 0p2uKqOnZyce22SPZ9d5
            - 1KYvY8WZAKmcjCJ1mvVB
        next_request_ids:
          items:
            type: string
          type: array
          title: Next Request Ids
          description: A list of request_id of the samples that come after this generation. next_request_ids is especially useful for maintaining the speech's continuity when regenerating a sample that has had some audio quality issues. For example, if you have generated 3 speech clips, and you want to improve clip 2, passing the request id of clip 3 as a next_request_id (and that of clip 1 as a previous_request_id) will help maintain natural flow in the combined speech. The results will be best when the same model is used across the generations. In case both next_text and next_request_ids is send, next_text will be ignored. A maximum of 3 request_ids can be send.
          examples:
          - - 3tPgBrD1UdW3snUkGw1K
            - 4D1jAxiRFkolBNUGzXkU
            - 4c8Z4aWliVR2oipYRXhj
        use_pvc_as_ivc:
          type: boolean
          title: Use Pvc As Ivc
          description: If true, we won't use PVC version of the voice for the generation but the IVC version. This is a temporary workaround for higher latency in PVC versions.
          default: false
          deprecated: true
          examples:
          - true
        apply_text_normalization:
          type: string
          enum:
          - auto
          - 'on'
          - 'off'
          title: Apply Text Normalization
          description: 'This parameter controls text normalization with three modes: ''auto'', ''on'', and ''off''. When set to ''auto'', the system will automatically decide whether to apply text normalization (e.g., spelling out numbers). With ''on'', text normalization will always be applied, while with ''off'', it will be skipped.'
          default: auto
          examples:
          - true
        apply_language_text_normalization:
          type: boolean
          title: Apply Language Text Normalization
          description: 'This parameter controls language text normalization. This helps with proper pronunciation of text in some supported languages. WARNING: This parameter can heavily increase the latency of the request. Currently only supported for Japanese.'
          default: false
          examples:
          - true
      type: object
      required:
      - text
      title: Body_text_to_speech_full_with_timestamps
    AudioWithTimestampsResponseModel:
      properties:
        audio_base64:
          type: string
          title: Audio Base64
          description: Base64 encoded audio data
        alignment:
          anyOf:
          - $ref: '#/components/schemas/CharacterAlignmentResponseModel'
          - type: 'null'
          description: Timestamp information for each character in the original text
        normalized_alignment:
          anyOf:
          - $ref: '#/components/schemas/CharacterAlignmentResponseModel'
          - type: 'null'
          description: Timestamp information for each character in the normalized text
      type: object
      required:
      - audio_base64
      title: AudioWithTimestampsResponseModel
      example:
        alignment:
          character_end_times_seconds:
          - 0.1
          - 0.2
          - 0.3
          - 0.4
          - 0.5
          character_start_times_seconds:
          - 0.0
          - 0.1
          - 0.2
          - 0.3
          - 0.4
          characters:
          - H
          - e
          - l
          - l
          - o
        audio_base64: base64_encoded_audio_string
        normalized_alignment:
          character_end_times_seconds:
          - 0.1
          - 0.2
          - 0.3
          - 0.4
          - 0.5
          character_start_times_seconds:
          - 0.0
          - 0.1
          - 0.2
          - 0.3
          - 0.4
          characters:
          - H
          - e
          - l
          - l
          - o
    CharacterAlignmentResponseModel:
      properties:
        characters:
          items:
            type: string
          type: array
          title: Characters
        character_start_times_seconds:
          items:
            type: number
          type: array
          title: Character Start Times Seconds
        character_end_times_seconds:
          items:
            type: number
          type: array
          title: Character End Times Seconds
      type: object
      required:
      - characters
      - character_start_times_seconds
      - character_end_times_seconds
      title: CharacterAlignmentResponseModel
    Body_text_to_speech_stream_with_timestamps:
      properties:
        text:
          type: string
          title: Text
          description: The text that will get converted into speech.
          examples:
          - This is a test for the API of ElevenLabs.
        model_id:
          type: string
          title: Model Id
          description: Identifier of the model that will be used, you can query them using GET /v1/models. The model needs to have support for text to speech, you can check this using the can_do_text_to_speech property.
          default: eleven_multilingual_v2
        language_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Language Code
          description: Language code (ISO 639-1) used to enforce a language for the model and text normalization. If the model does not support the provided language code, it will be ignored. This parameter is not supported for multilingual_v2 models.
        voice_settings:
          anyOf:
          - $ref: '#/components/schemas/VoiceSettingsResponseModel'
          - type: 'null'
          description: Voice settings overriding stored settings for the given voice. They are applied only on the given request.
        pronunciation_dictionary_locators:
          anyOf:
          - items:
              $ref: '#/components/schemas/PronunciationDictionaryVersionLocatorRequestModel'
            type: array
          - type: 'null'
          title: Pronunciation Dictionary Locators
          description: A list of pronunciation dictionary locators (id, version_id) to be applied to the text. They will be applied in order. You may have up to 3 locators per request
          examples:
          - - pronunciation_dictionary_id: test
              version_id: id2
        seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seed
          description: If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed. Must be integer between 0 and 4294967295.
          examples:
          - 12345
        previous_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Previous Text
          description: The text that came before the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation.
          examples:
          - In the heart of a lush valley surrounded by towering mountains lies the quaint village of Willowbrook.
        next_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Text
          description: The text that comes after the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation.
          examples:
          - The Willowbrook Festival, held every spring, celebrates the blossoming of the wild bluebells that carpet the nearby forest floors, creating a breathtaking sea of blue under the canopy of fresh green leaves.
        previous_request_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Previous Request Ids
          description: A list of request_id of the samples that were generated before this generation. Can be used to improve the speech's continuity when splitting up a large task into multiple requests. The results will be best when the same model is used across the generations. In case both previous_text and previous_request_ids is send, previous_text will be ignored. A maximum of 3 request_ids can be send.
          examples:
          - - 09bOJkdYVjKy2oOiiVtR
            - 0p2uKqOnZyce22SPZ9d5
            - 1KYvY8WZAKmcjCJ1mvVB
        next_request_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Next Request Ids
          description: A list of request_id of the samples that come after this generation. next_request_ids is especially useful for maintaining the speech's continuity when regenerating a sample that has had some audio quality issues. For example, if you have generated 3 speech clips, and you want to improve clip 2, passing the request id of clip 3 as a next_request_id (and that of clip 1 as a previous_request_id) will help maintain natural flow in the combined speech. The results will be best when the same model is used across the generations. In case both next_text and next_request_ids is send, next_text will be ignored. A maximum of 3 request_ids can be send.
          examples:
          - - 3tPgBrD1UdW3snUkGw1K
            - 4D1jAxiRFkolBNUGzXkU
            - 4c8Z4aWliVR2oipYRXhj
        use_pvc_as_ivc:
          type: boolean
          title: Use Pvc As Ivc
          description: If true, we won't use PVC version of the voice for the generation but the IVC version. This is a temporary workaround for higher latency in PVC versions.
          default: false
          deprecated: true
          examples:
          - true
        apply_text_normalization:
          type: string
          enum:
          - auto
          - 'on'
          - 'off'
          title: Apply Text Normalization
          description: 'This parameter controls text normalization with three modes: ''auto'', ''on'', and ''off''. When set to ''auto'', the system will automatically decide whether to apply text normalization (e.g., spelling out numbers). With ''on'', text normalization will always be applied, while with ''off'', it will be skipped.'
          default: auto
          examples:
          - true
        apply_language_text_normalization:
          type: boolean
          title: Apply Language Text Normalization
          description: 'This parameter controls language text normalization. This helps with proper pronunciation of text in some supported languages. WARNING: This parameter can heavily increase the latency of the request. Currently only supported for Japanese.'
          default: false
          examples:
          - true
      type: object
      required:
      - text
      title: Body_text_to_speech_stream_with_timestamps
    Body_text_to_speech_stream:
      properties:
        text:
          type: string
          title: Text
          description: The text that will get converted into speech.
          examples:
          - This is a test for the API of ElevenLabs.
        model_id:
          type: string
          title: Model Id
          description: Identifier of the model that will be used, you can query them using GET /v1/models. The model needs to have support for text to speech, you can check this using the can_do_text_to_speech property.
          default: eleven_multilingual_v2
        language_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Language Code
          description: Language code (ISO 639-1) used to enforce a language for the model and text normalization. If the model does not support the provided language code, it will be ignored. This parameter is not supported for multilingual_v2 models.
        voice_settings:
          anyOf:
          - $ref: '#/components/schemas/VoiceSettingsResponseModel'
          - type: 'null'
          description: Voice settings overriding stored settings for the given voice. They are applied only on the given request.
        pronunciation_dictionary_locators:
          anyOf:
          - items:
              $ref: '#/components/schemas/PronunciationDictionaryVersionLocatorRequestModel'
            type: array
          - type: 'null'
          title: Pronunciation Dictionary Locators
          description: A list of pronunciation dictionary locators (id, version_id) to be applied to the text. They will be applied in order. You may have up to 3 locators per request
          examples:
          - - pronunciation_dictionary_id: test
              version_id: id2
        seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seed
          description: If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed. Must be integer between 0 and 4294967295.
          examples:
          - 12345
        previous_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Previous Text
          description: The text that came before the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation.
          examples:
          - In the heart of a lush valley surrounded by towering mountains lies the quaint village of Willowbrook.
        next_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Text
          description: The text that comes after the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation.
          examples:
          - The Willowbrook Festival, held every spring, celebrates the blossoming of the wild bluebells that carpet the nearby forest floors, creating a breathtaking sea of blue under the canopy of fresh green leaves.
        previous_request_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Previous Request Ids
          description: A list of request_id of the samples that were generated before this generation. Can be used to improve the speech's continuity when splitting up a large task into multiple requests. The results will be best when the same model is used across the generations. In case both previous_text and previous_request_ids is send, previous_text will be ignored. A maximum of 3 request_ids can be send.
          examples:
          - - 09bOJkdYVjKy2oOiiVtR
            - 0p2uKqOnZyce22SPZ9d5
            - 1KYvY8WZAKmcjCJ1mvVB
        next_request_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Next Request Ids
          description: A list of request_id of the samples that come after this generation. next_request_ids is especially useful for maintaining the speech's continuity when regenerating a sample that has had some audio quality issues. For example, if you have generated 3 speech clips, and you want to improve clip 2, passing the request id of clip 3 as a next_request_id (and that of clip 1 as a previous_request_id) will help maintain natural flow in the combined speech. The results will be best when the same model is used across the generations. In case both next_text and next_request_ids is send, next_text will be ignored. A maximum of 3 request_ids can be send.
          examples:
          - - 3tPgBrD1UdW3snUkGw1K
            - 4D1jAxiRFkolBNUGzXkU
            - 4c8Z4aWliVR2oipYRXhj
        use_pvc_as_ivc:
          type: boolean
          title: Use Pvc As Ivc
          description: If true, we won't use PVC version of the voice for the generation but the IVC version. This is a temporary workaround for higher latency in PVC versions.
          default: false
          deprecated: true
          examples:
          - true
        apply_text_normalization:
          type: string
          enum:
          - auto
          - 'on'
          - 'off'
          title: Apply Text Normalization
          description: 'This parameter controls text normalization with three modes: ''auto'', ''on'', and ''off''. When set to ''auto'', the system will automatically decide whether to apply text normalization (e.g., spelling out numbers). With ''on'', text normalization will always be applied, while with ''off'', it will be skipped.'
          default: auto
          examples:
          - true
        apply_language_text_normalization:
          type: boolean
          title: Apply Language Text Normalization
          description: 'This parameter controls language text normalization. This helps with proper pronunciation of text in some supported languages. WARNING: This parameter can heavily increase the latency of the request. Currently only supported for Japanese.'
          default: false
          examples:
          - true
      type: object
      required:
      - text
      title: Body_text_to_speech_stream
    PronunciationDictionaryVersionLocatorRequestModel:
      properties:
        pronunciation_dictionary_id:
          type: string
          title: Pronunciation Dictionary Id
          description: The ID of the pronunciation dictionary.
        version_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Version Id
          description: The ID of the version of the pronunciation dictionary. If not provided, the latest version will be used.
      type: object
      required:
      - pronunciation_dictionary_id
      title: PronunciationDictionaryVersionLocatorRequestModel
    VoiceSettingsResponseModel:
      properties:
        stability:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Stability
          description: Determines how stable the voice is and the randomness between each generation. Lower values introduce broader emotional range for the voice. Higher values can result in a monotonous voice with limited emotion.
          default: 0.5
        use_speaker_boost:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Speaker Boost
          description: This setting boosts the similarity to the original speaker. Using this setting requires a slightly higher computational load, which in turn increases latency.
          default: true
        similarity_boost:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Similarity Boost
          description: Determines how closely the AI should adhere to the original voice when attempting to replicate it.
          default: 0.75
        style:
          anyOf:
          - type: number
          - type: 'null'
          title: Style
          description: Determines the style exaggeration of the voice. This setting attempts to amplify the style of the original speaker. It does consume additional computational resources and might increase latency if set to anything other than 0.
          default: 0.0
        speed:
          anyOf:
          - type: number
          - type: 'null'
          title: Speed
          description: Adjusts the speed of the voice. A value of 1.0 is the default speed, while values less than 1.0 slow down the speech, and values greater than 1.0 speed it up.
          default: 1.0
      type: object
      title: VoiceSettingsResponseModel
      example:
        similarity_boost: 1.0
        speed: 1.0
        stability: 1.0
        style: 0.0
        use_speaker_boost: true
    StreamingAudioChunkWithTimestampsResponseModel:
      properties:
        audio_base64:
          type: string
          title: Audio Base64
          description: Base64 encoded audio data
        alignment:
          anyOf:
          - $ref: '#/components/schemas/CharacterAlignmentResponseModel'
          - type: 'null'
          description: Timestamp information for each character in the original text
        normalized_alignment:
          anyOf:
          - $ref: '#/components/schemas/CharacterAlignmentResponseModel'
          - type: 'null'
          description: Timestamp information for each character in the normalized text
      type: object
      required:
      - audio_base64
      title: StreamingAudioChunkWithTimestampsResponseModel
      example:
        alignment:
          character_end_times_seconds:
          - 0.1
          - 0.2
          character_start_times_seconds:
          - 0.0
          - 0.1
          characters:
          - H
          - e
        audio_base64: base64_encoded_audio_chunk
        normalized_alignment:
          character_end_times_seconds:
          - 0.1
          - 0.2
          character_start_times_seconds:
          - 0.0
          - 0.1
          characters:
          - H
          - e
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: xi-api-key
      description: ElevenLabs API key passed in the xi-api-key header for authentication.
externalDocs:
  description: ElevenLabs Text to Speech API Documentation
  url: https://elevenlabs.io/docs/api-reference/text-to-speech/convert
x-refined-from:
- elevenlabs-text-to-speech-openapi.yml
- elevenlabs-openapi.json
